@font-face{
	font-family: "neon";
	src: url(../font/Neon.ttf);
}

html {height: 100vh; font-size: 20px;}
body {
	padding: 0; 
	margin: 0; 
	font-family: "neon"; 
	display: -webkit-box; 
	display: -ms-flexbox; 
	display: flex; 
	-webkit-box-orient: vertical; 
	-webkit-box-direction: normal; 
	    -ms-flex-direction: column; 
	        flex-direction: column;
	height: 100vh;
	background: #171543;
	color: #fff;
	overflow: hidden;
}
main {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex; 
	-webkit-box-pack: center; 
	    -ms-flex-pack: center; 
	        justify-content: center; 
	-webkit-box-align: center; 
	    -ms-flex-align: center; 
	        align-items: center;
}

h1 {display: none;}

#welcomeSts {
	margin-top: 10vh;
	text-align: center; 
	-webkit-box-orient: vertical; 
	-webkit-box-direction: normal; 
	    -ms-flex-direction: column; 
	        flex-direction: column; 
	-webkit-box-align: center; 
	    -ms-flex-align: center; 
	        align-items: center; 
	-webkit-animation: shake 40s infinite; 
	        animation: shake 40s infinite;
	-webkit-transition-duration: 1s;
	     -o-transition-duration: 1s;
	        transition-duration: 1s;
}
#welcomeSts span:nth-child(1) {font-size: 4.5rem;}
#welcomeSts span:nth-child(2) {font-size: 2.5rem; margin: -0.5rem 0;}
#welcomeSts span:nth-child(3) {
	font-size: 8rem; 
	margin: -1rem 0;
	font-weight: bold; 
}
#welcomeSts span:nth-child(4) {font-size: 4rem; padding-left: 18rem;}

.text-gradient {
	background-size: 120% 100%;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	-moz-background-clip: text;
	-moz-text-fill-color: transparent;
	-ms-background-clip: text;
	-ms-text-fill-color: transparent;
	background-image: -webkit-linear-gradient(45deg, #FF1361, #6c18ad, #44107A, #FF1361, #FFF800);
	background-image: -o-linear-gradient(45deg, #FF1361, #6c18ad, #44107A, #FF1361, #FFF800);
	background-image: linear-gradient(45deg, #FF1361, #6c18ad, #44107A, #FF1361, #FFF800);
}


#langCtn {display: none; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; border-radius: 20px; margin-top: 120px;}
#langCtn div {
	min-width: 50vw; 
	display: -webkit-box; 
	display: -ms-flexbox; 
	display: flex; 
	-webkit-transition-duration: 0.5s; 
	     -o-transition-duration: 0.5s; 
	        transition-duration: 0.5s; 
	cursor: pointer; 
	margin: 15px 0; 
	padding: 15px 0 15px 20px; 
	-webkit-transition-duration: 0.2s; 
	     -o-transition-duration: 0.2s; 
	        transition-duration: 0.2s;
	border-left: solid 6px rgba(0,0,0,0);
	background: -webkit-gradient(linear, left top, right top, from(rgba(0,0,0,0.4)), color-stop(rgba(0,0,0,0.2)), color-stop(rgba(0,0,0,0.1)), to(rgba(0,0,0,0)));
	background: -webkit-linear-gradient(left, rgba(0,0,0,0.4), rgba(0,0,0,0.2), rgba(0,0,0,0.1), rgba(0,0,0,0));
	background: -o-linear-gradient(left, rgba(0,0,0,0.4), rgba(0,0,0,0.2), rgba(0,0,0,0.1), rgba(0,0,0,0));
	background: linear-gradient(to right, rgba(0,0,0,0.4), rgba(0,0,0,0.2), rgba(0,0,0,0.1), rgba(0,0,0,0));
}
#langCtn div h2 {display: -webkit-box;display: -ms-flexbox;display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; min-width: 300px; font-size: 4rem; margin: -0.5rem 0;}
#langCtn img {width: 70px; max-height: 60px; margin: auto; margin-left: 40%; -webkit-transition-duration: 0.5s; -o-transition-duration: 0.5s; transition-duration: 0.5s;}
#langCtn input[type="radio"] {display: none;}
#langCtn input[type="submit"] {border: none; color: #fff; font-family: "neon"; outline: none;}

#button {
	display: none; 
	margin: 50px auto 0 auto; 
	background-color: #000;
	padding: 10px 30px; 
	border-radius: 7px; 
	font-size: 4rem;
	-webkit-transition-duration: 0.3s;
	     -o-transition-duration: 0.3s;
	        transition-duration: 0.3s; 
	cursor: pointer; -webkit-box-shadow: 0 0 10px #000; box-shadow: 0 0 10px #000;
	-webkit-transform: skewX(-15deg);
	    -ms-transform: skewX(-15deg);
	        transform: skewX(-15deg);
	margin-top: 120px;
}
#button:hover {
	-webkit-transform: scale(1.05);
	    -ms-transform: scale(1.05);
	        transform: scale(1.05);
}

#animationTools * {display: none;}
#planet {
	position: absolute;
	left: 50%;
	bottom: 0;
	width: 25vh;
	border-radius: 50%;
	-webkit-animation: shake 0.5s infinite;
	        animation: shake 0.5s infinite;
	-webkit-transition-duration: 0.3s;
	     -o-transition-duration: 0.3s;
	        transition-duration: 0.3s;
	opacity: 0;
	z-index: 0
}

#innerPlanetExplosion {
	display: none;
	position: absolute;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: -webkit-radial-gradient(circle, rgba(255,255,255,1) 10%, rgba(255,255,255,0.4), rgba(255,255,255,0.1));
	background: -o-radial-gradient(circle, rgba(255,255,255,1) 10%, rgba(255,255,255,0.4), rgba(255,255,255,0.1));
	background: radial-gradient(circle, rgba(255,255,255,1) 10%, rgba(255,255,255,0.4), rgba(255,255,255,0.1));
	-webkit-box-shadow: 0 0 40px #fff;
	        box-shadow: 0 0 40px #fff;
	-webkit-animation: explode 1s;
	        animation: explode 1s;
}


/*--- STARS BACKGROUND ---*/
#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  -webkit-box-shadow: 643px 1301px #FFF , 1105px 646px #FFF , 1125px 1863px #FFF , 1926px 1200px #FFF , 401px 1009px #FFF , 308px 267px #FFF , 357px 1962px #FFF , 1566px 985px #FFF , 1797px 1417px #FFF , 758px 1230px #FFF , 75px 998px #FFF , 838px 1364px #FFF , 1198px 1688px #FFF , 291px 764px #FFF , 1554px 501px #FFF , 1315px 1272px #FFF , 1884px 497px #FFF , 129px 1462px #FFF , 1647px 1037px #FFF , 1264px 1887px #FFF , 1424px 51px #FFF , 3px 306px #FFF , 872px 272px #FFF , 78px 439px #FFF , 1274px 811px #FFF , 1938px 890px #FFF , 529px 1660px #FFF , 699px 130px #FFF , 1914px 758px #FFF , 1566px 1490px #FFF , 1761px 396px #FFF , 10px 1576px #FFF , 735px 816px #FFF , 1804px 85px #FFF , 1672px 1405px #FFF , 1055px 847px #FFF , 198px 911px #FFF , 531px 1939px #FFF , 1629px 1870px #FFF , 589px 554px #FFF , 758px 1028px #FFF , 190px 1978px #FFF , 1253px 184px #FFF , 674px 1950px #FFF , 1370px 95px #FFF , 260px 1758px #FFF , 1687px 63px #FFF , 239px 1928px #FFF , 1564px 249px #FFF , 1517px 1314px #FFF , 1122px 1823px #FFF , 1106px 277px #FFF , 171px 241px #FFF , 948px 1803px #FFF , 949px 1885px #FFF , 453px 1657px #FFF , 1424px 692px #FFF , 1726px 1992px #FFF , 641px 751px #FFF , 70px 1466px #FFF , 679px 151px #FFF , 1531px 369px #FFF , 658px 1573px #FFF , 480px 267px #FFF , 1820px 436px #FFF , 1219px 301px #FFF , 540px 1608px #FFF , 1896px 1925px #FFF , 1732px 1252px #FFF , 487px 1432px #FFF , 1833px 572px #FFF , 1265px 1436px #FFF , 867px 1805px #FFF , 1462px 1260px #FFF , 619px 1519px #FFF , 1708px 609px #FFF , 1704px 648px #FFF , 1842px 191px #FFF , 973px 350px #FFF , 1190px 940px #FFF , 393px 118px #FFF , 1059px 1479px #FFF , 1214px 238px #FFF , 231px 1631px #FFF , 1462px 1644px #FFF , 1306px 189px #FFF , 1959px 368px #FFF , 1367px 1232px #FFF , 1798px 1046px #FFF , 487px 1875px #FFF , 1931px 43px #FFF , 1202px 1451px #FFF , 46px 1862px #FFF , 1664px 546px #FFF , 1801px 1261px #FFF , 1502px 1432px #FFF , 778px 1529px #FFF , 58px 485px #FFF , 267px 854px #FFF , 403px 361px #FFF , 423px 1670px #FFF , 145px 1073px #FFF , 8px 1705px #FFF , 1620px 1065px #FFF , 680px 1321px #FFF , 1466px 710px #FFF , 790px 1224px #FFF , 1236px 1933px #FFF , 1859px 808px #FFF , 1773px 683px #FFF , 198px 263px #FFF , 1455px 864px #FFF , 1013px 1879px #FFF , 1184px 1375px #FFF , 452px 641px #FFF , 1010px 286px #FFF , 170px 1660px #FFF , 147px 633px #FFF , 1179px 351px #FFF , 1124px 1211px #FFF , 236px 1975px #FFF , 36px 691px #FFF , 1985px 733px #FFF , 370px 57px #FFF , 888px 994px #FFF , 1617px 824px #FFF , 1147px 1998px #FFF , 710px 1725px #FFF , 1145px 1469px #FFF , 1192px 531px #FFF , 797px 408px #FFF , 1859px 1649px #FFF , 431px 445px #FFF , 580px 281px #FFF , 565px 484px #FFF , 935px 1322px #FFF , 326px 975px #FFF , 737px 1077px #FFF , 605px 192px #FFF , 1841px 114px #FFF , 1653px 1373px #FFF , 1410px 391px #FFF , 1883px 1562px #FFF , 294px 1890px #FFF , 1864px 843px #FFF , 1394px 198px #FFF , 731px 74px #FFF , 1542px 14px #FFF , 1650px 1105px #FFF , 161px 909px #FFF , 517px 1000px #FFF , 1156px 1430px #FFF , 1598px 961px #FFF , 1000px 1276px #FFF , 290px 1099px #FFF , 636px 1349px #FFF , 600px 1587px #FFF , 1997px 645px #FFF , 287px 397px #FFF , 406px 420px #FFF , 365px 983px #FFF , 472px 1891px #FFF , 1939px 1041px #FFF , 1250px 666px #FFF , 767px 949px #FFF , 1930px 1322px #FFF , 990px 764px #FFF , 1587px 1846px #FFF , 1239px 198px #FFF , 1245px 606px #FFF , 1636px 562px #FFF , 1575px 1337px #FFF , 1806px 968px #FFF , 61px 753px #FFF , 752px 197px #FFF , 121px 1301px #FFF , 440px 47px #FFF , 60px 1604px #FFF , 1373px 1693px #FFF , 1213px 627px #FFF , 192px 884px #FFF , 809px 1519px #FFF , 1193px 533px #FFF , 158px 1616px #FFF , 1331px 1013px #FFF , 890px 1077px #FFF , 1684px 32px #FFF , 1801px 759px #FFF , 1679px 283px #FFF , 508px 858px #FFF , 1120px 66px #FFF , 1490px 826px #FFF , 1644px 630px #FFF , 12px 1344px #FFF , 1733px 1172px #FFF , 405px 576px #FFF , 1501px 520px #FFF , 661px 380px #FFF , 728px 324px #FFF , 1765px 1919px #FFF , 81px 1125px #FFF , 395px 129px #FFF , 20px 1266px #FFF , 586px 1466px #FFF , 18px 1992px #FFF , 1419px 1191px #FFF , 256px 84px #FFF , 379px 156px #FFF , 1478px 1726px #FFF , 118px 672px #FFF , 4px 1216px #FFF , 178px 1747px #FFF , 1938px 172px #FFF , 714px 1px #FFF , 1251px 428px #FFF , 133px 1065px #FFF , 512px 1626px #FFF , 1855px 982px #FFF , 771px 1185px #FFF , 943px 1083px #FFF , 1008px 1572px #FFF , 732px 1156px #FFF , 1223px 1949px #FFF , 1028px 1578px #FFF , 96px 1358px #FFF , 1736px 203px #FFF , 1707px 251px #FFF , 872px 1903px #FFF , 924px 752px #FFF , 1669px 1464px #FFF , 657px 533px #FFF , 589px 1993px #FFF , 1782px 1273px #FFF , 941px 630px #FFF , 1571px 854px #FFF , 1186px 991px #FFF , 405px 907px #FFF , 298px 958px #FFF , 1096px 1088px #FFF , 1772px 929px #FFF , 1772px 1115px #FFF , 1027px 1056px #FFF , 395px 771px #FFF , 875px 1837px #FFF , 1215px 566px #FFF , 1079px 866px #FFF , 8px 913px #FFF , 47px 1497px #FFF , 763px 603px #FFF , 1907px 942px #FFF , 394px 921px #FFF , 1851px 1613px #FFF , 46px 867px #FFF , 229px 897px #FFF , 1681px 873px #FFF , 1739px 1549px #FFF , 1375px 937px #FFF , 1017px 1095px #FFF , 1552px 916px #FFF , 1353px 1603px #FFF , 698px 1433px #FFF , 423px 835px #FFF , 1295px 1447px #FFF , 218px 555px #FFF , 114px 402px #FFF , 1767px 1826px #FFF , 296px 347px #FFF , 1588px 1261px #FFF , 1909px 161px #FFF , 1818px 1533px #FFF , 1831px 1960px #FFF , 854px 1243px #FFF , 1895px 1803px #FFF , 878px 139px #FFF , 933px 1714px #FFF , 1680px 1083px #FFF , 1905px 1747px #FFF , 184px 53px #FFF , 1355px 1767px #FFF , 867px 228px #FFF , 797px 944px #FFF , 343px 654px #FFF , 171px 1917px #FFF , 1074px 1312px #FFF , 1773px 41px #FFF , 821px 575px #FFF , 1602px 828px #FFF , 1093px 1506px #FFF , 181px 1792px #FFF , 1983px 692px #FFF , 1903px 1790px #FFF , 1442px 1438px #FFF , 49px 1677px #FFF , 1698px 445px #FFF , 1499px 1666px #FFF , 1996px 1076px #FFF , 1427px 116px #FFF , 1068px 1535px #FFF , 615px 1617px #FFF , 183px 1732px #FFF , 1294px 639px #FFF , 397px 1886px #FFF , 921px 1104px #FFF , 1959px 1199px #FFF , 1507px 908px #FFF , 1951px 521px #FFF , 1659px 819px #FFF , 940px 144px #FFF , 32px 1895px #FFF , 231px 1214px #FFF , 190px 1227px #FFF , 185px 268px #FFF , 1822px 1533px #FFF , 577px 733px #FFF , 1029px 43px #FFF , 867px 1483px #FFF , 1431px 627px #FFF , 433px 108px #FFF , 651px 217px #FFF , 800px 981px #FFF , 69px 1123px #FFF , 790px 1477px #FFF , 1342px 1313px #FFF , 1335px 589px #FFF , 841px 58px #FFF , 435px 64px #FFF , 996px 221px #FFF , 27px 1792px #FFF , 795px 780px #FFF , 1631px 820px #FFF , 1195px 1247px #FFF , 105px 338px #FFF , 114px 51px #FFF , 513px 1558px #FFF , 1251px 1390px #FFF , 351px 329px #FFF , 913px 1945px #FFF , 270px 585px #FFF , 1540px 804px #FFF , 1626px 1925px #FFF , 1899px 1160px #FFF , 94px 706px #FFF , 274px 1834px #FFF , 1908px 346px #FFF , 369px 1984px #FFF , 277px 313px #FFF , 184px 311px #FFF , 1881px 1751px #FFF , 1358px 219px #FFF , 1152px 875px #FFF , 317px 1332px #FFF , 1866px 910px #FFF , 890px 1899px #FFF , 36px 670px #FFF , 1834px 312px #FFF , 170px 1575px #FFF , 1086px 1705px #FFF , 1390px 1467px #FFF , 275px 450px #FFF , 810px 1837px #FFF , 256px 419px #FFF , 371px 1534px #FFF , 1004px 1417px #FFF , 537px 1049px #FFF , 1957px 1079px #FFF , 1817px 331px #FFF , 1727px 1931px #FFF , 34px 1422px #FFF , 197px 1750px #FFF , 1696px 987px #FFF , 7px 1593px #FFF , 1985px 1301px #FFF , 1212px 117px #FFF , 1461px 729px #FFF , 1054px 878px #FFF , 266px 1442px #FFF , 1506px 248px #FFF , 362px 1611px #FFF , 1916px 872px #FFF , 230px 639px #FFF , 1448px 471px #FFF , 492px 269px #FFF , 193px 768px #FFF , 1067px 1830px #FFF , 280px 1813px #FFF , 1764px 1957px #FFF , 1469px 1680px #FFF , 473px 1765px #FFF , 1630px 442px #FFF , 232px 293px #FFF , 51px 511px #FFF , 767px 646px #FFF , 635px 1176px #FFF , 850px 837px #FFF , 1248px 200px #FFF , 342px 956px #FFF , 1545px 1261px #FFF , 198px 697px #FFF , 1241px 1172px #FFF , 1590px 57px #FFF , 1454px 312px #FFF , 559px 1549px #FFF , 1338px 1706px #FFF , 1113px 38px #FFF , 1057px 1985px #FFF , 1915px 1063px #FFF , 918px 1866px #FFF , 123px 428px #FFF , 1984px 1535px #FFF , 1620px 754px #FFF , 428px 254px #FFF , 1857px 1622px #FFF , 1833px 1247px #FFF , 534px 326px #FFF , 1644px 1316px #FFF , 1478px 198px #FFF , 1284px 1151px #FFF , 671px 207px #FFF , 812px 209px #FFF , 1326px 830px #FFF , 1269px 989px #FFF , 1579px 1652px #FFF , 180px 1263px #FFF , 1748px 671px #FFF , 12px 1874px #FFF , 1166px 1742px #FFF , 1447px 300px #FFF , 610px 463px #FFF , 173px 292px #FFF , 1699px 418px #FFF , 348px 251px #FFF , 989px 1225px #FFF , 1247px 1509px #FFF , 208px 1621px #FFF , 1351px 1467px #FFF , 1198px 1713px #FFF , 1589px 1451px #FFF , 1608px 1835px #FFF , 236px 317px #FFF , 1146px 83px #FFF , 393px 1030px #FFF , 1686px 1663px #FFF , 213px 481px #FFF , 1531px 1545px #FFF , 1040px 549px #FFF , 991px 1121px #FFF , 206px 1001px #FFF , 893px 1862px #FFF , 1096px 1226px #FFF , 478px 1318px #FFF , 698px 1771px #FFF , 1975px 292px #FFF , 1703px 1046px #FFF , 843px 1271px #FFF , 1908px 817px #FFF , 1726px 1489px #FFF , 20px 1895px #FFF , 146px 1247px #FFF , 552px 1859px #FFF , 240px 1687px #FFF , 1218px 1645px #FFF , 1696px 154px #FFF , 323px 1495px #FFF , 783px 268px #FFF , 1413px 1306px #FFF , 1445px 1438px #FFF , 1663px 1841px #FFF , 885px 274px #FFF , 1615px 247px #FFF , 99px 734px #FFF , 1845px 517px #FFF , 194px 1815px #FFF , 602px 1177px #FFF , 527px 1943px #FFF , 985px 1195px #FFF , 1658px 646px #FFF , 1903px 1046px #FFF , 1199px 298px #FFF , 1313px 1106px #FFF , 1786px 1224px #FFF , 782px 789px #FFF , 48px 1645px #FFF , 1195px 553px #FFF , 1763px 1669px #FFF , 881px 1346px #FFF , 807px 257px #FFF , 532px 372px #FFF , 1726px 381px #FFF , 1203px 1840px #FFF , 1752px 1119px #FFF , 1784px 1518px #FFF , 314px 1899px #FFF , 929px 1558px #FFF , 1697px 1170px #FFF , 1096px 297px #FFF , 924px 1198px #FFF , 1512px 1413px #FFF , 197px 1645px #FFF , 177px 438px #FFF , 1814px 297px #FFF , 557px 890px #FFF , 649px 969px #FFF , 1470px 859px #FFF , 1743px 957px #FFF , 685px 130px #FFF , 15px 867px #FFF , 1622px 1234px #FFF , 1591px 34px #FFF , 371px 770px #FFF , 823px 1701px #FFF , 1035px 1550px #FFF , 346px 1412px #FFF , 38px 492px #FFF , 1589px 1725px #FFF , 804px 666px #FFF , 490px 474px #FFF , 1877px 1607px #FFF , 1563px 1997px #FFF , 1786px 258px #FFF , 1949px 1917px #FFF , 762px 494px #FFF , 236px 1180px #FFF , 1222px 1464px #FFF , 1216px 477px #FFF , 136px 1700px #FFF , 1103px 402px #FFF , 684px 1095px #FFF , 420px 971px #FFF , 1594px 557px #FFF , 1039px 1187px #FFF , 1974px 279px #FFF , 1085px 459px #FFF , 1891px 1309px #FFF , 1268px 1952px #FFF , 196px 1515px #FFF , 1564px 954px #FFF , 1180px 43px #FFF , 619px 1652px #FFF , 1982px 883px #FFF , 1867px 1434px #FFF , 1095px 495px #FFF , 1052px 379px #FFF , 1091px 693px #FFF , 290px 1823px #FFF , 448px 1596px #FFF , 1430px 1649px #FFF , 841px 574px #FFF , 1693px 636px #FFF , 763px 1661px #FFF , 1252px 1503px #FFF , 656px 27px #FFF , 1012px 1415px #FFF , 766px 1442px #FFF , 234px 831px #FFF , 935px 281px #FFF , 1634px 760px #FFF , 993px 1355px #FFF , 1367px 185px #FFF , 850px 229px #FFF , 24px 1965px #FFF , 1673px 1254px #FFF , 1412px 1359px #FFF , 1058px 835px #FFF , 481px 1927px #FFF , 1901px 1886px #FFF , 1165px 1856px #FFF , 1244px 272px #FFF , 531px 614px #FFF , 115px 416px #FFF , 1422px 77px #FFF , 714px 618px #FFF , 1931px 583px #FFF , 1054px 1943px #FFF , 163px 717px #FFF , 736px 59px #FFF , 118px 513px #FFF , 1765px 374px #FFF , 563px 63px #FFF , 1229px 1782px #FFF , 645px 1367px #FFF , 785px 81px #FFF , 1522px 760px #FFF , 1098px 1428px #FFF , 824px 1215px #FFF , 1305px 1707px #FFF , 1889px 121px #FFF , 960px 1509px #FFF , 389px 812px #FFF , 904px 633px #FFF , 823px 222px #FFF , 1392px 453px #FFF , 377px 1234px #FFF , 331px 1528px #FFF , 977px 204px #FFF , 1883px 492px #FFF , 477px 619px #FFF , 1607px 1771px #FFF , 741px 1322px #FFF , 1326px 1349px #FFF , 1623px 1081px #FFF , 668px 398px #FFF , 1831px 697px #FFF , 1451px 1890px #FFF , 60px 649px #FFF , 1760px 205px #FFF , 888px 517px #FFF , 437px 74px #FFF , 411px 1777px #FFF , 724px 913px #FFF , 761px 1952px #FFF , 1294px 1462px #FFF , 1339px 1237px #FFF , 826px 1853px #FFF , 1836px 458px #FFF , 1002px 1840px #FFF , 145px 1518px #FFF , 619px 1083px #FFF , 197px 1840px #FFF , 541px 1847px #FFF , 194px 1683px #FFF , 1158px 1458px #FFF , 411px 564px #FFF , 203px 1612px #FFF , 1570px 937px #FFF , 598px 1157px #FFF , 763px 954px #FFF , 468px 304px #FFF , 891px 21px #FFF , 1390px 1178px #FFF , 501px 1181px #FFF , 1916px 1007px #FFF , 237px 1885px #FFF , 893px 1164px #FFF , 136px 1369px #FFF , 398px 720px #FFF , 1443px 144px #FFF , 209px 15px #FFF , 1931px 1987px #FFF , 126px 1514px #FFF , 1767px 1418px #FFF , 756px 15px #FFF , 1889px 1245px #FFF , 1473px 188px #FFF , 1358px 728px #FFF , 107px 1914px #FFF , 318px 1267px #FFF , 291px 1268px #FFF , 1023px 47px #FFF , 1358px 1620px #FFF , 1263px 68px #FFF , 1839px 1127px #FFF , 1109px 674px #FFF , 1687px 1889px #FFF , 1357px 1307px #FFF , 839px 620px #FFF , 872px 871px #FFF , 1830px 1189px #FFF , 1335px 965px #FFF , 1964px 1787px #FFF , 340px 153px #FFF , 13px 1415px #FFF , 1568px 1215px #FFF , 1350px 887px #FFF , 959px 1325px #FFF , 693px 617px #FFF , 952px 1380px #FFF , 1343px 851px #FFF , 1069px 1017px #FFF , 1780px 1801px #FFF , 448px 410px #FFF , 558px 791px #FFF , 4px 632px #FFF , 576px 1859px #FFF , 260px 1459px #FFF , 1716px 1892px #FFF , 281px 1516px #FFF , 534px 880px #FFF , 532px 1630px #FFF , 1099px 1800px #FFF , 162px 1627px #FFF , 1558px 1880px #FFF , 77px 240px #FFF , 521px 1794px #FFF , 588px 525px #FFF , 293px 233px #FFF , 1909px 1659px #FFF , 875px 74px #FFF , 1356px 85px #FFF , 40px 1521px #FFF , 516px 1241px #FFF , 852px 1704px #FFF , 316px 1228px #FFF , 1602px 519px #FFF , 1663px 689px #FFF , 208px 1646px #FFF , 1465px 778px #FFF , 354px 620px #FFF , 374px 523px #FFF , 1143px 1586px #FFF , 1680px 1235px #FFF;
          box-shadow: 643px 1301px #FFF , 1105px 646px #FFF , 1125px 1863px #FFF , 1926px 1200px #FFF , 401px 1009px #FFF , 308px 267px #FFF , 357px 1962px #FFF , 1566px 985px #FFF , 1797px 1417px #FFF , 758px 1230px #FFF , 75px 998px #FFF , 838px 1364px #FFF , 1198px 1688px #FFF , 291px 764px #FFF , 1554px 501px #FFF , 1315px 1272px #FFF , 1884px 497px #FFF , 129px 1462px #FFF , 1647px 1037px #FFF , 1264px 1887px #FFF , 1424px 51px #FFF , 3px 306px #FFF , 872px 272px #FFF , 78px 439px #FFF , 1274px 811px #FFF , 1938px 890px #FFF , 529px 1660px #FFF , 699px 130px #FFF , 1914px 758px #FFF , 1566px 1490px #FFF , 1761px 396px #FFF , 10px 1576px #FFF , 735px 816px #FFF , 1804px 85px #FFF , 1672px 1405px #FFF , 1055px 847px #FFF , 198px 911px #FFF , 531px 1939px #FFF , 1629px 1870px #FFF , 589px 554px #FFF , 758px 1028px #FFF , 190px 1978px #FFF , 1253px 184px #FFF , 674px 1950px #FFF , 1370px 95px #FFF , 260px 1758px #FFF , 1687px 63px #FFF , 239px 1928px #FFF , 1564px 249px #FFF , 1517px 1314px #FFF , 1122px 1823px #FFF , 1106px 277px #FFF , 171px 241px #FFF , 948px 1803px #FFF , 949px 1885px #FFF , 453px 1657px #FFF , 1424px 692px #FFF , 1726px 1992px #FFF , 641px 751px #FFF , 70px 1466px #FFF , 679px 151px #FFF , 1531px 369px #FFF , 658px 1573px #FFF , 480px 267px #FFF , 1820px 436px #FFF , 1219px 301px #FFF , 540px 1608px #FFF , 1896px 1925px #FFF , 1732px 1252px #FFF , 487px 1432px #FFF , 1833px 572px #FFF , 1265px 1436px #FFF , 867px 1805px #FFF , 1462px 1260px #FFF , 619px 1519px #FFF , 1708px 609px #FFF , 1704px 648px #FFF , 1842px 191px #FFF , 973px 350px #FFF , 1190px 940px #FFF , 393px 118px #FFF , 1059px 1479px #FFF , 1214px 238px #FFF , 231px 1631px #FFF , 1462px 1644px #FFF , 1306px 189px #FFF , 1959px 368px #FFF , 1367px 1232px #FFF , 1798px 1046px #FFF , 487px 1875px #FFF , 1931px 43px #FFF , 1202px 1451px #FFF , 46px 1862px #FFF , 1664px 546px #FFF , 1801px 1261px #FFF , 1502px 1432px #FFF , 778px 1529px #FFF , 58px 485px #FFF , 267px 854px #FFF , 403px 361px #FFF , 423px 1670px #FFF , 145px 1073px #FFF , 8px 1705px #FFF , 1620px 1065px #FFF , 680px 1321px #FFF , 1466px 710px #FFF , 790px 1224px #FFF , 1236px 1933px #FFF , 1859px 808px #FFF , 1773px 683px #FFF , 198px 263px #FFF , 1455px 864px #FFF , 1013px 1879px #FFF , 1184px 1375px #FFF , 452px 641px #FFF , 1010px 286px #FFF , 170px 1660px #FFF , 147px 633px #FFF , 1179px 351px #FFF , 1124px 1211px #FFF , 236px 1975px #FFF , 36px 691px #FFF , 1985px 733px #FFF , 370px 57px #FFF , 888px 994px #FFF , 1617px 824px #FFF , 1147px 1998px #FFF , 710px 1725px #FFF , 1145px 1469px #FFF , 1192px 531px #FFF , 797px 408px #FFF , 1859px 1649px #FFF , 431px 445px #FFF , 580px 281px #FFF , 565px 484px #FFF , 935px 1322px #FFF , 326px 975px #FFF , 737px 1077px #FFF , 605px 192px #FFF , 1841px 114px #FFF , 1653px 1373px #FFF , 1410px 391px #FFF , 1883px 1562px #FFF , 294px 1890px #FFF , 1864px 843px #FFF , 1394px 198px #FFF , 731px 74px #FFF , 1542px 14px #FFF , 1650px 1105px #FFF , 161px 909px #FFF , 517px 1000px #FFF , 1156px 1430px #FFF , 1598px 961px #FFF , 1000px 1276px #FFF , 290px 1099px #FFF , 636px 1349px #FFF , 600px 1587px #FFF , 1997px 645px #FFF , 287px 397px #FFF , 406px 420px #FFF , 365px 983px #FFF , 472px 1891px #FFF , 1939px 1041px #FFF , 1250px 666px #FFF , 767px 949px #FFF , 1930px 1322px #FFF , 990px 764px #FFF , 1587px 1846px #FFF , 1239px 198px #FFF , 1245px 606px #FFF , 1636px 562px #FFF , 1575px 1337px #FFF , 1806px 968px #FFF , 61px 753px #FFF , 752px 197px #FFF , 121px 1301px #FFF , 440px 47px #FFF , 60px 1604px #FFF , 1373px 1693px #FFF , 1213px 627px #FFF , 192px 884px #FFF , 809px 1519px #FFF , 1193px 533px #FFF , 158px 1616px #FFF , 1331px 1013px #FFF , 890px 1077px #FFF , 1684px 32px #FFF , 1801px 759px #FFF , 1679px 283px #FFF , 508px 858px #FFF , 1120px 66px #FFF , 1490px 826px #FFF , 1644px 630px #FFF , 12px 1344px #FFF , 1733px 1172px #FFF , 405px 576px #FFF , 1501px 520px #FFF , 661px 380px #FFF , 728px 324px #FFF , 1765px 1919px #FFF , 81px 1125px #FFF , 395px 129px #FFF , 20px 1266px #FFF , 586px 1466px #FFF , 18px 1992px #FFF , 1419px 1191px #FFF , 256px 84px #FFF , 379px 156px #FFF , 1478px 1726px #FFF , 118px 672px #FFF , 4px 1216px #FFF , 178px 1747px #FFF , 1938px 172px #FFF , 714px 1px #FFF , 1251px 428px #FFF , 133px 1065px #FFF , 512px 1626px #FFF , 1855px 982px #FFF , 771px 1185px #FFF , 943px 1083px #FFF , 1008px 1572px #FFF , 732px 1156px #FFF , 1223px 1949px #FFF , 1028px 1578px #FFF , 96px 1358px #FFF , 1736px 203px #FFF , 1707px 251px #FFF , 872px 1903px #FFF , 924px 752px #FFF , 1669px 1464px #FFF , 657px 533px #FFF , 589px 1993px #FFF , 1782px 1273px #FFF , 941px 630px #FFF , 1571px 854px #FFF , 1186px 991px #FFF , 405px 907px #FFF , 298px 958px #FFF , 1096px 1088px #FFF , 1772px 929px #FFF , 1772px 1115px #FFF , 1027px 1056px #FFF , 395px 771px #FFF , 875px 1837px #FFF , 1215px 566px #FFF , 1079px 866px #FFF , 8px 913px #FFF , 47px 1497px #FFF , 763px 603px #FFF , 1907px 942px #FFF , 394px 921px #FFF , 1851px 1613px #FFF , 46px 867px #FFF , 229px 897px #FFF , 1681px 873px #FFF , 1739px 1549px #FFF , 1375px 937px #FFF , 1017px 1095px #FFF , 1552px 916px #FFF , 1353px 1603px #FFF , 698px 1433px #FFF , 423px 835px #FFF , 1295px 1447px #FFF , 218px 555px #FFF , 114px 402px #FFF , 1767px 1826px #FFF , 296px 347px #FFF , 1588px 1261px #FFF , 1909px 161px #FFF , 1818px 1533px #FFF , 1831px 1960px #FFF , 854px 1243px #FFF , 1895px 1803px #FFF , 878px 139px #FFF , 933px 1714px #FFF , 1680px 1083px #FFF , 1905px 1747px #FFF , 184px 53px #FFF , 1355px 1767px #FFF , 867px 228px #FFF , 797px 944px #FFF , 343px 654px #FFF , 171px 1917px #FFF , 1074px 1312px #FFF , 1773px 41px #FFF , 821px 575px #FFF , 1602px 828px #FFF , 1093px 1506px #FFF , 181px 1792px #FFF , 1983px 692px #FFF , 1903px 1790px #FFF , 1442px 1438px #FFF , 49px 1677px #FFF , 1698px 445px #FFF , 1499px 1666px #FFF , 1996px 1076px #FFF , 1427px 116px #FFF , 1068px 1535px #FFF , 615px 1617px #FFF , 183px 1732px #FFF , 1294px 639px #FFF , 397px 1886px #FFF , 921px 1104px #FFF , 1959px 1199px #FFF , 1507px 908px #FFF , 1951px 521px #FFF , 1659px 819px #FFF , 940px 144px #FFF , 32px 1895px #FFF , 231px 1214px #FFF , 190px 1227px #FFF , 185px 268px #FFF , 1822px 1533px #FFF , 577px 733px #FFF , 1029px 43px #FFF , 867px 1483px #FFF , 1431px 627px #FFF , 433px 108px #FFF , 651px 217px #FFF , 800px 981px #FFF , 69px 1123px #FFF , 790px 1477px #FFF , 1342px 1313px #FFF , 1335px 589px #FFF , 841px 58px #FFF , 435px 64px #FFF , 996px 221px #FFF , 27px 1792px #FFF , 795px 780px #FFF , 1631px 820px #FFF , 1195px 1247px #FFF , 105px 338px #FFF , 114px 51px #FFF , 513px 1558px #FFF , 1251px 1390px #FFF , 351px 329px #FFF , 913px 1945px #FFF , 270px 585px #FFF , 1540px 804px #FFF , 1626px 1925px #FFF , 1899px 1160px #FFF , 94px 706px #FFF , 274px 1834px #FFF , 1908px 346px #FFF , 369px 1984px #FFF , 277px 313px #FFF , 184px 311px #FFF , 1881px 1751px #FFF , 1358px 219px #FFF , 1152px 875px #FFF , 317px 1332px #FFF , 1866px 910px #FFF , 890px 1899px #FFF , 36px 670px #FFF , 1834px 312px #FFF , 170px 1575px #FFF , 1086px 1705px #FFF , 1390px 1467px #FFF , 275px 450px #FFF , 810px 1837px #FFF , 256px 419px #FFF , 371px 1534px #FFF , 1004px 1417px #FFF , 537px 1049px #FFF , 1957px 1079px #FFF , 1817px 331px #FFF , 1727px 1931px #FFF , 34px 1422px #FFF , 197px 1750px #FFF , 1696px 987px #FFF , 7px 1593px #FFF , 1985px 1301px #FFF , 1212px 117px #FFF , 1461px 729px #FFF , 1054px 878px #FFF , 266px 1442px #FFF , 1506px 248px #FFF , 362px 1611px #FFF , 1916px 872px #FFF , 230px 639px #FFF , 1448px 471px #FFF , 492px 269px #FFF , 193px 768px #FFF , 1067px 1830px #FFF , 280px 1813px #FFF , 1764px 1957px #FFF , 1469px 1680px #FFF , 473px 1765px #FFF , 1630px 442px #FFF , 232px 293px #FFF , 51px 511px #FFF , 767px 646px #FFF , 635px 1176px #FFF , 850px 837px #FFF , 1248px 200px #FFF , 342px 956px #FFF , 1545px 1261px #FFF , 198px 697px #FFF , 1241px 1172px #FFF , 1590px 57px #FFF , 1454px 312px #FFF , 559px 1549px #FFF , 1338px 1706px #FFF , 1113px 38px #FFF , 1057px 1985px #FFF , 1915px 1063px #FFF , 918px 1866px #FFF , 123px 428px #FFF , 1984px 1535px #FFF , 1620px 754px #FFF , 428px 254px #FFF , 1857px 1622px #FFF , 1833px 1247px #FFF , 534px 326px #FFF , 1644px 1316px #FFF , 1478px 198px #FFF , 1284px 1151px #FFF , 671px 207px #FFF , 812px 209px #FFF , 1326px 830px #FFF , 1269px 989px #FFF , 1579px 1652px #FFF , 180px 1263px #FFF , 1748px 671px #FFF , 12px 1874px #FFF , 1166px 1742px #FFF , 1447px 300px #FFF , 610px 463px #FFF , 173px 292px #FFF , 1699px 418px #FFF , 348px 251px #FFF , 989px 1225px #FFF , 1247px 1509px #FFF , 208px 1621px #FFF , 1351px 1467px #FFF , 1198px 1713px #FFF , 1589px 1451px #FFF , 1608px 1835px #FFF , 236px 317px #FFF , 1146px 83px #FFF , 393px 1030px #FFF , 1686px 1663px #FFF , 213px 481px #FFF , 1531px 1545px #FFF , 1040px 549px #FFF , 991px 1121px #FFF , 206px 1001px #FFF , 893px 1862px #FFF , 1096px 1226px #FFF , 478px 1318px #FFF , 698px 1771px #FFF , 1975px 292px #FFF , 1703px 1046px #FFF , 843px 1271px #FFF , 1908px 817px #FFF , 1726px 1489px #FFF , 20px 1895px #FFF , 146px 1247px #FFF , 552px 1859px #FFF , 240px 1687px #FFF , 1218px 1645px #FFF , 1696px 154px #FFF , 323px 1495px #FFF , 783px 268px #FFF , 1413px 1306px #FFF , 1445px 1438px #FFF , 1663px 1841px #FFF , 885px 274px #FFF , 1615px 247px #FFF , 99px 734px #FFF , 1845px 517px #FFF , 194px 1815px #FFF , 602px 1177px #FFF , 527px 1943px #FFF , 985px 1195px #FFF , 1658px 646px #FFF , 1903px 1046px #FFF , 1199px 298px #FFF , 1313px 1106px #FFF , 1786px 1224px #FFF , 782px 789px #FFF , 48px 1645px #FFF , 1195px 553px #FFF , 1763px 1669px #FFF , 881px 1346px #FFF , 807px 257px #FFF , 532px 372px #FFF , 1726px 381px #FFF , 1203px 1840px #FFF , 1752px 1119px #FFF , 1784px 1518px #FFF , 314px 1899px #FFF , 929px 1558px #FFF , 1697px 1170px #FFF , 1096px 297px #FFF , 924px 1198px #FFF , 1512px 1413px #FFF , 197px 1645px #FFF , 177px 438px #FFF , 1814px 297px #FFF , 557px 890px #FFF , 649px 969px #FFF , 1470px 859px #FFF , 1743px 957px #FFF , 685px 130px #FFF , 15px 867px #FFF , 1622px 1234px #FFF , 1591px 34px #FFF , 371px 770px #FFF , 823px 1701px #FFF , 1035px 1550px #FFF , 346px 1412px #FFF , 38px 492px #FFF , 1589px 1725px #FFF , 804px 666px #FFF , 490px 474px #FFF , 1877px 1607px #FFF , 1563px 1997px #FFF , 1786px 258px #FFF , 1949px 1917px #FFF , 762px 494px #FFF , 236px 1180px #FFF , 1222px 1464px #FFF , 1216px 477px #FFF , 136px 1700px #FFF , 1103px 402px #FFF , 684px 1095px #FFF , 420px 971px #FFF , 1594px 557px #FFF , 1039px 1187px #FFF , 1974px 279px #FFF , 1085px 459px #FFF , 1891px 1309px #FFF , 1268px 1952px #FFF , 196px 1515px #FFF , 1564px 954px #FFF , 1180px 43px #FFF , 619px 1652px #FFF , 1982px 883px #FFF , 1867px 1434px #FFF , 1095px 495px #FFF , 1052px 379px #FFF , 1091px 693px #FFF , 290px 1823px #FFF , 448px 1596px #FFF , 1430px 1649px #FFF , 841px 574px #FFF , 1693px 636px #FFF , 763px 1661px #FFF , 1252px 1503px #FFF , 656px 27px #FFF , 1012px 1415px #FFF , 766px 1442px #FFF , 234px 831px #FFF , 935px 281px #FFF , 1634px 760px #FFF , 993px 1355px #FFF , 1367px 185px #FFF , 850px 229px #FFF , 24px 1965px #FFF , 1673px 1254px #FFF , 1412px 1359px #FFF , 1058px 835px #FFF , 481px 1927px #FFF , 1901px 1886px #FFF , 1165px 1856px #FFF , 1244px 272px #FFF , 531px 614px #FFF , 115px 416px #FFF , 1422px 77px #FFF , 714px 618px #FFF , 1931px 583px #FFF , 1054px 1943px #FFF , 163px 717px #FFF , 736px 59px #FFF , 118px 513px #FFF , 1765px 374px #FFF , 563px 63px #FFF , 1229px 1782px #FFF , 645px 1367px #FFF , 785px 81px #FFF , 1522px 760px #FFF , 1098px 1428px #FFF , 824px 1215px #FFF , 1305px 1707px #FFF , 1889px 121px #FFF , 960px 1509px #FFF , 389px 812px #FFF , 904px 633px #FFF , 823px 222px #FFF , 1392px 453px #FFF , 377px 1234px #FFF , 331px 1528px #FFF , 977px 204px #FFF , 1883px 492px #FFF , 477px 619px #FFF , 1607px 1771px #FFF , 741px 1322px #FFF , 1326px 1349px #FFF , 1623px 1081px #FFF , 668px 398px #FFF , 1831px 697px #FFF , 1451px 1890px #FFF , 60px 649px #FFF , 1760px 205px #FFF , 888px 517px #FFF , 437px 74px #FFF , 411px 1777px #FFF , 724px 913px #FFF , 761px 1952px #FFF , 1294px 1462px #FFF , 1339px 1237px #FFF , 826px 1853px #FFF , 1836px 458px #FFF , 1002px 1840px #FFF , 145px 1518px #FFF , 619px 1083px #FFF , 197px 1840px #FFF , 541px 1847px #FFF , 194px 1683px #FFF , 1158px 1458px #FFF , 411px 564px #FFF , 203px 1612px #FFF , 1570px 937px #FFF , 598px 1157px #FFF , 763px 954px #FFF , 468px 304px #FFF , 891px 21px #FFF , 1390px 1178px #FFF , 501px 1181px #FFF , 1916px 1007px #FFF , 237px 1885px #FFF , 893px 1164px #FFF , 136px 1369px #FFF , 398px 720px #FFF , 1443px 144px #FFF , 209px 15px #FFF , 1931px 1987px #FFF , 126px 1514px #FFF , 1767px 1418px #FFF , 756px 15px #FFF , 1889px 1245px #FFF , 1473px 188px #FFF , 1358px 728px #FFF , 107px 1914px #FFF , 318px 1267px #FFF , 291px 1268px #FFF , 1023px 47px #FFF , 1358px 1620px #FFF , 1263px 68px #FFF , 1839px 1127px #FFF , 1109px 674px #FFF , 1687px 1889px #FFF , 1357px 1307px #FFF , 839px 620px #FFF , 872px 871px #FFF , 1830px 1189px #FFF , 1335px 965px #FFF , 1964px 1787px #FFF , 340px 153px #FFF , 13px 1415px #FFF , 1568px 1215px #FFF , 1350px 887px #FFF , 959px 1325px #FFF , 693px 617px #FFF , 952px 1380px #FFF , 1343px 851px #FFF , 1069px 1017px #FFF , 1780px 1801px #FFF , 448px 410px #FFF , 558px 791px #FFF , 4px 632px #FFF , 576px 1859px #FFF , 260px 1459px #FFF , 1716px 1892px #FFF , 281px 1516px #FFF , 534px 880px #FFF , 532px 1630px #FFF , 1099px 1800px #FFF , 162px 1627px #FFF , 1558px 1880px #FFF , 77px 240px #FFF , 521px 1794px #FFF , 588px 525px #FFF , 293px 233px #FFF , 1909px 1659px #FFF , 875px 74px #FFF , 1356px 85px #FFF , 40px 1521px #FFF , 516px 1241px #FFF , 852px 1704px #FFF , 316px 1228px #FFF , 1602px 519px #FFF , 1663px 689px #FFF , 208px 1646px #FFF , 1465px 778px #FFF , 354px 620px #FFF , 374px 523px #FFF , 1143px 1586px #FFF , 1680px 1235px #FFF;
  -webkit-animation: animStar 50s linear infinite;
          animation: animStar 50s linear infinite;
}
#stars:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  -webkit-box-shadow: 643px 1301px #FFF , 1105px 646px #FFF , 1125px 1863px #FFF , 1926px 1200px #FFF , 401px 1009px #FFF , 308px 267px #FFF , 357px 1962px #FFF , 1566px 985px #FFF , 1797px 1417px #FFF , 758px 1230px #FFF , 75px 998px #FFF , 838px 1364px #FFF , 1198px 1688px #FFF , 291px 764px #FFF , 1554px 501px #FFF , 1315px 1272px #FFF , 1884px 497px #FFF , 129px 1462px #FFF , 1647px 1037px #FFF , 1264px 1887px #FFF , 1424px 51px #FFF , 3px 306px #FFF , 872px 272px #FFF , 78px 439px #FFF , 1274px 811px #FFF , 1938px 890px #FFF , 529px 1660px #FFF , 699px 130px #FFF , 1914px 758px #FFF , 1566px 1490px #FFF , 1761px 396px #FFF , 10px 1576px #FFF , 735px 816px #FFF , 1804px 85px #FFF , 1672px 1405px #FFF , 1055px 847px #FFF , 198px 911px #FFF , 531px 1939px #FFF , 1629px 1870px #FFF , 589px 554px #FFF , 758px 1028px #FFF , 190px 1978px #FFF , 1253px 184px #FFF , 674px 1950px #FFF , 1370px 95px #FFF , 260px 1758px #FFF , 1687px 63px #FFF , 239px 1928px #FFF , 1564px 249px #FFF , 1517px 1314px #FFF , 1122px 1823px #FFF , 1106px 277px #FFF , 171px 241px #FFF , 948px 1803px #FFF , 949px 1885px #FFF , 453px 1657px #FFF , 1424px 692px #FFF , 1726px 1992px #FFF , 641px 751px #FFF , 70px 1466px #FFF , 679px 151px #FFF , 1531px 369px #FFF , 658px 1573px #FFF , 480px 267px #FFF , 1820px 436px #FFF , 1219px 301px #FFF , 540px 1608px #FFF , 1896px 1925px #FFF , 1732px 1252px #FFF , 487px 1432px #FFF , 1833px 572px #FFF , 1265px 1436px #FFF , 867px 1805px #FFF , 1462px 1260px #FFF , 619px 1519px #FFF , 1708px 609px #FFF , 1704px 648px #FFF , 1842px 191px #FFF , 973px 350px #FFF , 1190px 940px #FFF , 393px 118px #FFF , 1059px 1479px #FFF , 1214px 238px #FFF , 231px 1631px #FFF , 1462px 1644px #FFF , 1306px 189px #FFF , 1959px 368px #FFF , 1367px 1232px #FFF , 1798px 1046px #FFF , 487px 1875px #FFF , 1931px 43px #FFF , 1202px 1451px #FFF , 46px 1862px #FFF , 1664px 546px #FFF , 1801px 1261px #FFF , 1502px 1432px #FFF , 778px 1529px #FFF , 58px 485px #FFF , 267px 854px #FFF , 403px 361px #FFF , 423px 1670px #FFF , 145px 1073px #FFF , 8px 1705px #FFF , 1620px 1065px #FFF , 680px 1321px #FFF , 1466px 710px #FFF , 790px 1224px #FFF , 1236px 1933px #FFF , 1859px 808px #FFF , 1773px 683px #FFF , 198px 263px #FFF , 1455px 864px #FFF , 1013px 1879px #FFF , 1184px 1375px #FFF , 452px 641px #FFF , 1010px 286px #FFF , 170px 1660px #FFF , 147px 633px #FFF , 1179px 351px #FFF , 1124px 1211px #FFF , 236px 1975px #FFF , 36px 691px #FFF , 1985px 733px #FFF , 370px 57px #FFF , 888px 994px #FFF , 1617px 824px #FFF , 1147px 1998px #FFF , 710px 1725px #FFF , 1145px 1469px #FFF , 1192px 531px #FFF , 797px 408px #FFF , 1859px 1649px #FFF , 431px 445px #FFF , 580px 281px #FFF , 565px 484px #FFF , 935px 1322px #FFF , 326px 975px #FFF , 737px 1077px #FFF , 605px 192px #FFF , 1841px 114px #FFF , 1653px 1373px #FFF , 1410px 391px #FFF , 1883px 1562px #FFF , 294px 1890px #FFF , 1864px 843px #FFF , 1394px 198px #FFF , 731px 74px #FFF , 1542px 14px #FFF , 1650px 1105px #FFF , 161px 909px #FFF , 517px 1000px #FFF , 1156px 1430px #FFF , 1598px 961px #FFF , 1000px 1276px #FFF , 290px 1099px #FFF , 636px 1349px #FFF , 600px 1587px #FFF , 1997px 645px #FFF , 287px 397px #FFF , 406px 420px #FFF , 365px 983px #FFF , 472px 1891px #FFF , 1939px 1041px #FFF , 1250px 666px #FFF , 767px 949px #FFF , 1930px 1322px #FFF , 990px 764px #FFF , 1587px 1846px #FFF , 1239px 198px #FFF , 1245px 606px #FFF , 1636px 562px #FFF , 1575px 1337px #FFF , 1806px 968px #FFF , 61px 753px #FFF , 752px 197px #FFF , 121px 1301px #FFF , 440px 47px #FFF , 60px 1604px #FFF , 1373px 1693px #FFF , 1213px 627px #FFF , 192px 884px #FFF , 809px 1519px #FFF , 1193px 533px #FFF , 158px 1616px #FFF , 1331px 1013px #FFF , 890px 1077px #FFF , 1684px 32px #FFF , 1801px 759px #FFF , 1679px 283px #FFF , 508px 858px #FFF , 1120px 66px #FFF , 1490px 826px #FFF , 1644px 630px #FFF , 12px 1344px #FFF , 1733px 1172px #FFF , 405px 576px #FFF , 1501px 520px #FFF , 661px 380px #FFF , 728px 324px #FFF , 1765px 1919px #FFF , 81px 1125px #FFF , 395px 129px #FFF , 20px 1266px #FFF , 586px 1466px #FFF , 18px 1992px #FFF , 1419px 1191px #FFF , 256px 84px #FFF , 379px 156px #FFF , 1478px 1726px #FFF , 118px 672px #FFF , 4px 1216px #FFF , 178px 1747px #FFF , 1938px 172px #FFF , 714px 1px #FFF , 1251px 428px #FFF , 133px 1065px #FFF , 512px 1626px #FFF , 1855px 982px #FFF , 771px 1185px #FFF , 943px 1083px #FFF , 1008px 1572px #FFF , 732px 1156px #FFF , 1223px 1949px #FFF , 1028px 1578px #FFF , 96px 1358px #FFF , 1736px 203px #FFF , 1707px 251px #FFF , 872px 1903px #FFF , 924px 752px #FFF , 1669px 1464px #FFF , 657px 533px #FFF , 589px 1993px #FFF , 1782px 1273px #FFF , 941px 630px #FFF , 1571px 854px #FFF , 1186px 991px #FFF , 405px 907px #FFF , 298px 958px #FFF , 1096px 1088px #FFF , 1772px 929px #FFF , 1772px 1115px #FFF , 1027px 1056px #FFF , 395px 771px #FFF , 875px 1837px #FFF , 1215px 566px #FFF , 1079px 866px #FFF , 8px 913px #FFF , 47px 1497px #FFF , 763px 603px #FFF , 1907px 942px #FFF , 394px 921px #FFF , 1851px 1613px #FFF , 46px 867px #FFF , 229px 897px #FFF , 1681px 873px #FFF , 1739px 1549px #FFF , 1375px 937px #FFF , 1017px 1095px #FFF , 1552px 916px #FFF , 1353px 1603px #FFF , 698px 1433px #FFF , 423px 835px #FFF , 1295px 1447px #FFF , 218px 555px #FFF , 114px 402px #FFF , 1767px 1826px #FFF , 296px 347px #FFF , 1588px 1261px #FFF , 1909px 161px #FFF , 1818px 1533px #FFF , 1831px 1960px #FFF , 854px 1243px #FFF , 1895px 1803px #FFF , 878px 139px #FFF , 933px 1714px #FFF , 1680px 1083px #FFF , 1905px 1747px #FFF , 184px 53px #FFF , 1355px 1767px #FFF , 867px 228px #FFF , 797px 944px #FFF , 343px 654px #FFF , 171px 1917px #FFF , 1074px 1312px #FFF , 1773px 41px #FFF , 821px 575px #FFF , 1602px 828px #FFF , 1093px 1506px #FFF , 181px 1792px #FFF , 1983px 692px #FFF , 1903px 1790px #FFF , 1442px 1438px #FFF , 49px 1677px #FFF , 1698px 445px #FFF , 1499px 1666px #FFF , 1996px 1076px #FFF , 1427px 116px #FFF , 1068px 1535px #FFF , 615px 1617px #FFF , 183px 1732px #FFF , 1294px 639px #FFF , 397px 1886px #FFF , 921px 1104px #FFF , 1959px 1199px #FFF , 1507px 908px #FFF , 1951px 521px #FFF , 1659px 819px #FFF , 940px 144px #FFF , 32px 1895px #FFF , 231px 1214px #FFF , 190px 1227px #FFF , 185px 268px #FFF , 1822px 1533px #FFF , 577px 733px #FFF , 1029px 43px #FFF , 867px 1483px #FFF , 1431px 627px #FFF , 433px 108px #FFF , 651px 217px #FFF , 800px 981px #FFF , 69px 1123px #FFF , 790px 1477px #FFF , 1342px 1313px #FFF , 1335px 589px #FFF , 841px 58px #FFF , 435px 64px #FFF , 996px 221px #FFF , 27px 1792px #FFF , 795px 780px #FFF , 1631px 820px #FFF , 1195px 1247px #FFF , 105px 338px #FFF , 114px 51px #FFF , 513px 1558px #FFF , 1251px 1390px #FFF , 351px 329px #FFF , 913px 1945px #FFF , 270px 585px #FFF , 1540px 804px #FFF , 1626px 1925px #FFF , 1899px 1160px #FFF , 94px 706px #FFF , 274px 1834px #FFF , 1908px 346px #FFF , 369px 1984px #FFF , 277px 313px #FFF , 184px 311px #FFF , 1881px 1751px #FFF , 1358px 219px #FFF , 1152px 875px #FFF , 317px 1332px #FFF , 1866px 910px #FFF , 890px 1899px #FFF , 36px 670px #FFF , 1834px 312px #FFF , 170px 1575px #FFF , 1086px 1705px #FFF , 1390px 1467px #FFF , 275px 450px #FFF , 810px 1837px #FFF , 256px 419px #FFF , 371px 1534px #FFF , 1004px 1417px #FFF , 537px 1049px #FFF , 1957px 1079px #FFF , 1817px 331px #FFF , 1727px 1931px #FFF , 34px 1422px #FFF , 197px 1750px #FFF , 1696px 987px #FFF , 7px 1593px #FFF , 1985px 1301px #FFF , 1212px 117px #FFF , 1461px 729px #FFF , 1054px 878px #FFF , 266px 1442px #FFF , 1506px 248px #FFF , 362px 1611px #FFF , 1916px 872px #FFF , 230px 639px #FFF , 1448px 471px #FFF , 492px 269px #FFF , 193px 768px #FFF , 1067px 1830px #FFF , 280px 1813px #FFF , 1764px 1957px #FFF , 1469px 1680px #FFF , 473px 1765px #FFF , 1630px 442px #FFF , 232px 293px #FFF , 51px 511px #FFF , 767px 646px #FFF , 635px 1176px #FFF , 850px 837px #FFF , 1248px 200px #FFF , 342px 956px #FFF , 1545px 1261px #FFF , 198px 697px #FFF , 1241px 1172px #FFF , 1590px 57px #FFF , 1454px 312px #FFF , 559px 1549px #FFF , 1338px 1706px #FFF , 1113px 38px #FFF , 1057px 1985px #FFF , 1915px 1063px #FFF , 918px 1866px #FFF , 123px 428px #FFF , 1984px 1535px #FFF , 1620px 754px #FFF , 428px 254px #FFF , 1857px 1622px #FFF , 1833px 1247px #FFF , 534px 326px #FFF , 1644px 1316px #FFF , 1478px 198px #FFF , 1284px 1151px #FFF , 671px 207px #FFF , 812px 209px #FFF , 1326px 830px #FFF , 1269px 989px #FFF , 1579px 1652px #FFF , 180px 1263px #FFF , 1748px 671px #FFF , 12px 1874px #FFF , 1166px 1742px #FFF , 1447px 300px #FFF , 610px 463px #FFF , 173px 292px #FFF , 1699px 418px #FFF , 348px 251px #FFF , 989px 1225px #FFF , 1247px 1509px #FFF , 208px 1621px #FFF , 1351px 1467px #FFF , 1198px 1713px #FFF , 1589px 1451px #FFF , 1608px 1835px #FFF , 236px 317px #FFF , 1146px 83px #FFF , 393px 1030px #FFF , 1686px 1663px #FFF , 213px 481px #FFF , 1531px 1545px #FFF , 1040px 549px #FFF , 991px 1121px #FFF , 206px 1001px #FFF , 893px 1862px #FFF , 1096px 1226px #FFF , 478px 1318px #FFF , 698px 1771px #FFF , 1975px 292px #FFF , 1703px 1046px #FFF , 843px 1271px #FFF , 1908px 817px #FFF , 1726px 1489px #FFF , 20px 1895px #FFF , 146px 1247px #FFF , 552px 1859px #FFF , 240px 1687px #FFF , 1218px 1645px #FFF , 1696px 154px #FFF , 323px 1495px #FFF , 783px 268px #FFF , 1413px 1306px #FFF , 1445px 1438px #FFF , 1663px 1841px #FFF , 885px 274px #FFF , 1615px 247px #FFF , 99px 734px #FFF , 1845px 517px #FFF , 194px 1815px #FFF , 602px 1177px #FFF , 527px 1943px #FFF , 985px 1195px #FFF , 1658px 646px #FFF , 1903px 1046px #FFF , 1199px 298px #FFF , 1313px 1106px #FFF , 1786px 1224px #FFF , 782px 789px #FFF , 48px 1645px #FFF , 1195px 553px #FFF , 1763px 1669px #FFF , 881px 1346px #FFF , 807px 257px #FFF , 532px 372px #FFF , 1726px 381px #FFF , 1203px 1840px #FFF , 1752px 1119px #FFF , 1784px 1518px #FFF , 314px 1899px #FFF , 929px 1558px #FFF , 1697px 1170px #FFF , 1096px 297px #FFF , 924px 1198px #FFF , 1512px 1413px #FFF , 197px 1645px #FFF , 177px 438px #FFF , 1814px 297px #FFF , 557px 890px #FFF , 649px 969px #FFF , 1470px 859px #FFF , 1743px 957px #FFF , 685px 130px #FFF , 15px 867px #FFF , 1622px 1234px #FFF , 1591px 34px #FFF , 371px 770px #FFF , 823px 1701px #FFF , 1035px 1550px #FFF , 346px 1412px #FFF , 38px 492px #FFF , 1589px 1725px #FFF , 804px 666px #FFF , 490px 474px #FFF , 1877px 1607px #FFF , 1563px 1997px #FFF , 1786px 258px #FFF , 1949px 1917px #FFF , 762px 494px #FFF , 236px 1180px #FFF , 1222px 1464px #FFF , 1216px 477px #FFF , 136px 1700px #FFF , 1103px 402px #FFF , 684px 1095px #FFF , 420px 971px #FFF , 1594px 557px #FFF , 1039px 1187px #FFF , 1974px 279px #FFF , 1085px 459px #FFF , 1891px 1309px #FFF , 1268px 1952px #FFF , 196px 1515px #FFF , 1564px 954px #FFF , 1180px 43px #FFF , 619px 1652px #FFF , 1982px 883px #FFF , 1867px 1434px #FFF , 1095px 495px #FFF , 1052px 379px #FFF , 1091px 693px #FFF , 290px 1823px #FFF , 448px 1596px #FFF , 1430px 1649px #FFF , 841px 574px #FFF , 1693px 636px #FFF , 763px 1661px #FFF , 1252px 1503px #FFF , 656px 27px #FFF , 1012px 1415px #FFF , 766px 1442px #FFF , 234px 831px #FFF , 935px 281px #FFF , 1634px 760px #FFF , 993px 1355px #FFF , 1367px 185px #FFF , 850px 229px #FFF , 24px 1965px #FFF , 1673px 1254px #FFF , 1412px 1359px #FFF , 1058px 835px #FFF , 481px 1927px #FFF , 1901px 1886px #FFF , 1165px 1856px #FFF , 1244px 272px #FFF , 531px 614px #FFF , 115px 416px #FFF , 1422px 77px #FFF , 714px 618px #FFF , 1931px 583px #FFF , 1054px 1943px #FFF , 163px 717px #FFF , 736px 59px #FFF , 118px 513px #FFF , 1765px 374px #FFF , 563px 63px #FFF , 1229px 1782px #FFF , 645px 1367px #FFF , 785px 81px #FFF , 1522px 760px #FFF , 1098px 1428px #FFF , 824px 1215px #FFF , 1305px 1707px #FFF , 1889px 121px #FFF , 960px 1509px #FFF , 389px 812px #FFF , 904px 633px #FFF , 823px 222px #FFF , 1392px 453px #FFF , 377px 1234px #FFF , 331px 1528px #FFF , 977px 204px #FFF , 1883px 492px #FFF , 477px 619px #FFF , 1607px 1771px #FFF , 741px 1322px #FFF , 1326px 1349px #FFF , 1623px 1081px #FFF , 668px 398px #FFF , 1831px 697px #FFF , 1451px 1890px #FFF , 60px 649px #FFF , 1760px 205px #FFF , 888px 517px #FFF , 437px 74px #FFF , 411px 1777px #FFF , 724px 913px #FFF , 761px 1952px #FFF , 1294px 1462px #FFF , 1339px 1237px #FFF , 826px 1853px #FFF , 1836px 458px #FFF , 1002px 1840px #FFF , 145px 1518px #FFF , 619px 1083px #FFF , 197px 1840px #FFF , 541px 1847px #FFF , 194px 1683px #FFF , 1158px 1458px #FFF , 411px 564px #FFF , 203px 1612px #FFF , 1570px 937px #FFF , 598px 1157px #FFF , 763px 954px #FFF , 468px 304px #FFF , 891px 21px #FFF , 1390px 1178px #FFF , 501px 1181px #FFF , 1916px 1007px #FFF , 237px 1885px #FFF , 893px 1164px #FFF , 136px 1369px #FFF , 398px 720px #FFF , 1443px 144px #FFF , 209px 15px #FFF , 1931px 1987px #FFF , 126px 1514px #FFF , 1767px 1418px #FFF , 756px 15px #FFF , 1889px 1245px #FFF , 1473px 188px #FFF , 1358px 728px #FFF , 107px 1914px #FFF , 318px 1267px #FFF , 291px 1268px #FFF , 1023px 47px #FFF , 1358px 1620px #FFF , 1263px 68px #FFF , 1839px 1127px #FFF , 1109px 674px #FFF , 1687px 1889px #FFF , 1357px 1307px #FFF , 839px 620px #FFF , 872px 871px #FFF , 1830px 1189px #FFF , 1335px 965px #FFF , 1964px 1787px #FFF , 340px 153px #FFF , 13px 1415px #FFF , 1568px 1215px #FFF , 1350px 887px #FFF , 959px 1325px #FFF , 693px 617px #FFF , 952px 1380px #FFF , 1343px 851px #FFF , 1069px 1017px #FFF , 1780px 1801px #FFF , 448px 410px #FFF , 558px 791px #FFF , 4px 632px #FFF , 576px 1859px #FFF , 260px 1459px #FFF , 1716px 1892px #FFF , 281px 1516px #FFF , 534px 880px #FFF , 532px 1630px #FFF , 1099px 1800px #FFF , 162px 1627px #FFF , 1558px 1880px #FFF , 77px 240px #FFF , 521px 1794px #FFF , 588px 525px #FFF , 293px 233px #FFF , 1909px 1659px #FFF , 875px 74px #FFF , 1356px 85px #FFF , 40px 1521px #FFF , 516px 1241px #FFF , 852px 1704px #FFF , 316px 1228px #FFF , 1602px 519px #FFF , 1663px 689px #FFF , 208px 1646px #FFF , 1465px 778px #FFF , 354px 620px #FFF , 374px 523px #FFF , 1143px 1586px #FFF , 1680px 1235px #FFF;
          box-shadow: 643px 1301px #FFF , 1105px 646px #FFF , 1125px 1863px #FFF , 1926px 1200px #FFF , 401px 1009px #FFF , 308px 267px #FFF , 357px 1962px #FFF , 1566px 985px #FFF , 1797px 1417px #FFF , 758px 1230px #FFF , 75px 998px #FFF , 838px 1364px #FFF , 1198px 1688px #FFF , 291px 764px #FFF , 1554px 501px #FFF , 1315px 1272px #FFF , 1884px 497px #FFF , 129px 1462px #FFF , 1647px 1037px #FFF , 1264px 1887px #FFF , 1424px 51px #FFF , 3px 306px #FFF , 872px 272px #FFF , 78px 439px #FFF , 1274px 811px #FFF , 1938px 890px #FFF , 529px 1660px #FFF , 699px 130px #FFF , 1914px 758px #FFF , 1566px 1490px #FFF , 1761px 396px #FFF , 10px 1576px #FFF , 735px 816px #FFF , 1804px 85px #FFF , 1672px 1405px #FFF , 1055px 847px #FFF , 198px 911px #FFF , 531px 1939px #FFF , 1629px 1870px #FFF , 589px 554px #FFF , 758px 1028px #FFF , 190px 1978px #FFF , 1253px 184px #FFF , 674px 1950px #FFF , 1370px 95px #FFF , 260px 1758px #FFF , 1687px 63px #FFF , 239px 1928px #FFF , 1564px 249px #FFF , 1517px 1314px #FFF , 1122px 1823px #FFF , 1106px 277px #FFF , 171px 241px #FFF , 948px 1803px #FFF , 949px 1885px #FFF , 453px 1657px #FFF , 1424px 692px #FFF , 1726px 1992px #FFF , 641px 751px #FFF , 70px 1466px #FFF , 679px 151px #FFF , 1531px 369px #FFF , 658px 1573px #FFF , 480px 267px #FFF , 1820px 436px #FFF , 1219px 301px #FFF , 540px 1608px #FFF , 1896px 1925px #FFF , 1732px 1252px #FFF , 487px 1432px #FFF , 1833px 572px #FFF , 1265px 1436px #FFF , 867px 1805px #FFF , 1462px 1260px #FFF , 619px 1519px #FFF , 1708px 609px #FFF , 1704px 648px #FFF , 1842px 191px #FFF , 973px 350px #FFF , 1190px 940px #FFF , 393px 118px #FFF , 1059px 1479px #FFF , 1214px 238px #FFF , 231px 1631px #FFF , 1462px 1644px #FFF , 1306px 189px #FFF , 1959px 368px #FFF , 1367px 1232px #FFF , 1798px 1046px #FFF , 487px 1875px #FFF , 1931px 43px #FFF , 1202px 1451px #FFF , 46px 1862px #FFF , 1664px 546px #FFF , 1801px 1261px #FFF , 1502px 1432px #FFF , 778px 1529px #FFF , 58px 485px #FFF , 267px 854px #FFF , 403px 361px #FFF , 423px 1670px #FFF , 145px 1073px #FFF , 8px 1705px #FFF , 1620px 1065px #FFF , 680px 1321px #FFF , 1466px 710px #FFF , 790px 1224px #FFF , 1236px 1933px #FFF , 1859px 808px #FFF , 1773px 683px #FFF , 198px 263px #FFF , 1455px 864px #FFF , 1013px 1879px #FFF , 1184px 1375px #FFF , 452px 641px #FFF , 1010px 286px #FFF , 170px 1660px #FFF , 147px 633px #FFF , 1179px 351px #FFF , 1124px 1211px #FFF , 236px 1975px #FFF , 36px 691px #FFF , 1985px 733px #FFF , 370px 57px #FFF , 888px 994px #FFF , 1617px 824px #FFF , 1147px 1998px #FFF , 710px 1725px #FFF , 1145px 1469px #FFF , 1192px 531px #FFF , 797px 408px #FFF , 1859px 1649px #FFF , 431px 445px #FFF , 580px 281px #FFF , 565px 484px #FFF , 935px 1322px #FFF , 326px 975px #FFF , 737px 1077px #FFF , 605px 192px #FFF , 1841px 114px #FFF , 1653px 1373px #FFF , 1410px 391px #FFF , 1883px 1562px #FFF , 294px 1890px #FFF , 1864px 843px #FFF , 1394px 198px #FFF , 731px 74px #FFF , 1542px 14px #FFF , 1650px 1105px #FFF , 161px 909px #FFF , 517px 1000px #FFF , 1156px 1430px #FFF , 1598px 961px #FFF , 1000px 1276px #FFF , 290px 1099px #FFF , 636px 1349px #FFF , 600px 1587px #FFF , 1997px 645px #FFF , 287px 397px #FFF , 406px 420px #FFF , 365px 983px #FFF , 472px 1891px #FFF , 1939px 1041px #FFF , 1250px 666px #FFF , 767px 949px #FFF , 1930px 1322px #FFF , 990px 764px #FFF , 1587px 1846px #FFF , 1239px 198px #FFF , 1245px 606px #FFF , 1636px 562px #FFF , 1575px 1337px #FFF , 1806px 968px #FFF , 61px 753px #FFF , 752px 197px #FFF , 121px 1301px #FFF , 440px 47px #FFF , 60px 1604px #FFF , 1373px 1693px #FFF , 1213px 627px #FFF , 192px 884px #FFF , 809px 1519px #FFF , 1193px 533px #FFF , 158px 1616px #FFF , 1331px 1013px #FFF , 890px 1077px #FFF , 1684px 32px #FFF , 1801px 759px #FFF , 1679px 283px #FFF , 508px 858px #FFF , 1120px 66px #FFF , 1490px 826px #FFF , 1644px 630px #FFF , 12px 1344px #FFF , 1733px 1172px #FFF , 405px 576px #FFF , 1501px 520px #FFF , 661px 380px #FFF , 728px 324px #FFF , 1765px 1919px #FFF , 81px 1125px #FFF , 395px 129px #FFF , 20px 1266px #FFF , 586px 1466px #FFF , 18px 1992px #FFF , 1419px 1191px #FFF , 256px 84px #FFF , 379px 156px #FFF , 1478px 1726px #FFF , 118px 672px #FFF , 4px 1216px #FFF , 178px 1747px #FFF , 1938px 172px #FFF , 714px 1px #FFF , 1251px 428px #FFF , 133px 1065px #FFF , 512px 1626px #FFF , 1855px 982px #FFF , 771px 1185px #FFF , 943px 1083px #FFF , 1008px 1572px #FFF , 732px 1156px #FFF , 1223px 1949px #FFF , 1028px 1578px #FFF , 96px 1358px #FFF , 1736px 203px #FFF , 1707px 251px #FFF , 872px 1903px #FFF , 924px 752px #FFF , 1669px 1464px #FFF , 657px 533px #FFF , 589px 1993px #FFF , 1782px 1273px #FFF , 941px 630px #FFF , 1571px 854px #FFF , 1186px 991px #FFF , 405px 907px #FFF , 298px 958px #FFF , 1096px 1088px #FFF , 1772px 929px #FFF , 1772px 1115px #FFF , 1027px 1056px #FFF , 395px 771px #FFF , 875px 1837px #FFF , 1215px 566px #FFF , 1079px 866px #FFF , 8px 913px #FFF , 47px 1497px #FFF , 763px 603px #FFF , 1907px 942px #FFF , 394px 921px #FFF , 1851px 1613px #FFF , 46px 867px #FFF , 229px 897px #FFF , 1681px 873px #FFF , 1739px 1549px #FFF , 1375px 937px #FFF , 1017px 1095px #FFF , 1552px 916px #FFF , 1353px 1603px #FFF , 698px 1433px #FFF , 423px 835px #FFF , 1295px 1447px #FFF , 218px 555px #FFF , 114px 402px #FFF , 1767px 1826px #FFF , 296px 347px #FFF , 1588px 1261px #FFF , 1909px 161px #FFF , 1818px 1533px #FFF , 1831px 1960px #FFF , 854px 1243px #FFF , 1895px 1803px #FFF , 878px 139px #FFF , 933px 1714px #FFF , 1680px 1083px #FFF , 1905px 1747px #FFF , 184px 53px #FFF , 1355px 1767px #FFF , 867px 228px #FFF , 797px 944px #FFF , 343px 654px #FFF , 171px 1917px #FFF , 1074px 1312px #FFF , 1773px 41px #FFF , 821px 575px #FFF , 1602px 828px #FFF , 1093px 1506px #FFF , 181px 1792px #FFF , 1983px 692px #FFF , 1903px 1790px #FFF , 1442px 1438px #FFF , 49px 1677px #FFF , 1698px 445px #FFF , 1499px 1666px #FFF , 1996px 1076px #FFF , 1427px 116px #FFF , 1068px 1535px #FFF , 615px 1617px #FFF , 183px 1732px #FFF , 1294px 639px #FFF , 397px 1886px #FFF , 921px 1104px #FFF , 1959px 1199px #FFF , 1507px 908px #FFF , 1951px 521px #FFF , 1659px 819px #FFF , 940px 144px #FFF , 32px 1895px #FFF , 231px 1214px #FFF , 190px 1227px #FFF , 185px 268px #FFF , 1822px 1533px #FFF , 577px 733px #FFF , 1029px 43px #FFF , 867px 1483px #FFF , 1431px 627px #FFF , 433px 108px #FFF , 651px 217px #FFF , 800px 981px #FFF , 69px 1123px #FFF , 790px 1477px #FFF , 1342px 1313px #FFF , 1335px 589px #FFF , 841px 58px #FFF , 435px 64px #FFF , 996px 221px #FFF , 27px 1792px #FFF , 795px 780px #FFF , 1631px 820px #FFF , 1195px 1247px #FFF , 105px 338px #FFF , 114px 51px #FFF , 513px 1558px #FFF , 1251px 1390px #FFF , 351px 329px #FFF , 913px 1945px #FFF , 270px 585px #FFF , 1540px 804px #FFF , 1626px 1925px #FFF , 1899px 1160px #FFF , 94px 706px #FFF , 274px 1834px #FFF , 1908px 346px #FFF , 369px 1984px #FFF , 277px 313px #FFF , 184px 311px #FFF , 1881px 1751px #FFF , 1358px 219px #FFF , 1152px 875px #FFF , 317px 1332px #FFF , 1866px 910px #FFF , 890px 1899px #FFF , 36px 670px #FFF , 1834px 312px #FFF , 170px 1575px #FFF , 1086px 1705px #FFF , 1390px 1467px #FFF , 275px 450px #FFF , 810px 1837px #FFF , 256px 419px #FFF , 371px 1534px #FFF , 1004px 1417px #FFF , 537px 1049px #FFF , 1957px 1079px #FFF , 1817px 331px #FFF , 1727px 1931px #FFF , 34px 1422px #FFF , 197px 1750px #FFF , 1696px 987px #FFF , 7px 1593px #FFF , 1985px 1301px #FFF , 1212px 117px #FFF , 1461px 729px #FFF , 1054px 878px #FFF , 266px 1442px #FFF , 1506px 248px #FFF , 362px 1611px #FFF , 1916px 872px #FFF , 230px 639px #FFF , 1448px 471px #FFF , 492px 269px #FFF , 193px 768px #FFF , 1067px 1830px #FFF , 280px 1813px #FFF , 1764px 1957px #FFF , 1469px 1680px #FFF , 473px 1765px #FFF , 1630px 442px #FFF , 232px 293px #FFF , 51px 511px #FFF , 767px 646px #FFF , 635px 1176px #FFF , 850px 837px #FFF , 1248px 200px #FFF , 342px 956px #FFF , 1545px 1261px #FFF , 198px 697px #FFF , 1241px 1172px #FFF , 1590px 57px #FFF , 1454px 312px #FFF , 559px 1549px #FFF , 1338px 1706px #FFF , 1113px 38px #FFF , 1057px 1985px #FFF , 1915px 1063px #FFF , 918px 1866px #FFF , 123px 428px #FFF , 1984px 1535px #FFF , 1620px 754px #FFF , 428px 254px #FFF , 1857px 1622px #FFF , 1833px 1247px #FFF , 534px 326px #FFF , 1644px 1316px #FFF , 1478px 198px #FFF , 1284px 1151px #FFF , 671px 207px #FFF , 812px 209px #FFF , 1326px 830px #FFF , 1269px 989px #FFF , 1579px 1652px #FFF , 180px 1263px #FFF , 1748px 671px #FFF , 12px 1874px #FFF , 1166px 1742px #FFF , 1447px 300px #FFF , 610px 463px #FFF , 173px 292px #FFF , 1699px 418px #FFF , 348px 251px #FFF , 989px 1225px #FFF , 1247px 1509px #FFF , 208px 1621px #FFF , 1351px 1467px #FFF , 1198px 1713px #FFF , 1589px 1451px #FFF , 1608px 1835px #FFF , 236px 317px #FFF , 1146px 83px #FFF , 393px 1030px #FFF , 1686px 1663px #FFF , 213px 481px #FFF , 1531px 1545px #FFF , 1040px 549px #FFF , 991px 1121px #FFF , 206px 1001px #FFF , 893px 1862px #FFF , 1096px 1226px #FFF , 478px 1318px #FFF , 698px 1771px #FFF , 1975px 292px #FFF , 1703px 1046px #FFF , 843px 1271px #FFF , 1908px 817px #FFF , 1726px 1489px #FFF , 20px 1895px #FFF , 146px 1247px #FFF , 552px 1859px #FFF , 240px 1687px #FFF , 1218px 1645px #FFF , 1696px 154px #FFF , 323px 1495px #FFF , 783px 268px #FFF , 1413px 1306px #FFF , 1445px 1438px #FFF , 1663px 1841px #FFF , 885px 274px #FFF , 1615px 247px #FFF , 99px 734px #FFF , 1845px 517px #FFF , 194px 1815px #FFF , 602px 1177px #FFF , 527px 1943px #FFF , 985px 1195px #FFF , 1658px 646px #FFF , 1903px 1046px #FFF , 1199px 298px #FFF , 1313px 1106px #FFF , 1786px 1224px #FFF , 782px 789px #FFF , 48px 1645px #FFF , 1195px 553px #FFF , 1763px 1669px #FFF , 881px 1346px #FFF , 807px 257px #FFF , 532px 372px #FFF , 1726px 381px #FFF , 1203px 1840px #FFF , 1752px 1119px #FFF , 1784px 1518px #FFF , 314px 1899px #FFF , 929px 1558px #FFF , 1697px 1170px #FFF , 1096px 297px #FFF , 924px 1198px #FFF , 1512px 1413px #FFF , 197px 1645px #FFF , 177px 438px #FFF , 1814px 297px #FFF , 557px 890px #FFF , 649px 969px #FFF , 1470px 859px #FFF , 1743px 957px #FFF , 685px 130px #FFF , 15px 867px #FFF , 1622px 1234px #FFF , 1591px 34px #FFF , 371px 770px #FFF , 823px 1701px #FFF , 1035px 1550px #FFF , 346px 1412px #FFF , 38px 492px #FFF , 1589px 1725px #FFF , 804px 666px #FFF , 490px 474px #FFF , 1877px 1607px #FFF , 1563px 1997px #FFF , 1786px 258px #FFF , 1949px 1917px #FFF , 762px 494px #FFF , 236px 1180px #FFF , 1222px 1464px #FFF , 1216px 477px #FFF , 136px 1700px #FFF , 1103px 402px #FFF , 684px 1095px #FFF , 420px 971px #FFF , 1594px 557px #FFF , 1039px 1187px #FFF , 1974px 279px #FFF , 1085px 459px #FFF , 1891px 1309px #FFF , 1268px 1952px #FFF , 196px 1515px #FFF , 1564px 954px #FFF , 1180px 43px #FFF , 619px 1652px #FFF , 1982px 883px #FFF , 1867px 1434px #FFF , 1095px 495px #FFF , 1052px 379px #FFF , 1091px 693px #FFF , 290px 1823px #FFF , 448px 1596px #FFF , 1430px 1649px #FFF , 841px 574px #FFF , 1693px 636px #FFF , 763px 1661px #FFF , 1252px 1503px #FFF , 656px 27px #FFF , 1012px 1415px #FFF , 766px 1442px #FFF , 234px 831px #FFF , 935px 281px #FFF , 1634px 760px #FFF , 993px 1355px #FFF , 1367px 185px #FFF , 850px 229px #FFF , 24px 1965px #FFF , 1673px 1254px #FFF , 1412px 1359px #FFF , 1058px 835px #FFF , 481px 1927px #FFF , 1901px 1886px #FFF , 1165px 1856px #FFF , 1244px 272px #FFF , 531px 614px #FFF , 115px 416px #FFF , 1422px 77px #FFF , 714px 618px #FFF , 1931px 583px #FFF , 1054px 1943px #FFF , 163px 717px #FFF , 736px 59px #FFF , 118px 513px #FFF , 1765px 374px #FFF , 563px 63px #FFF , 1229px 1782px #FFF , 645px 1367px #FFF , 785px 81px #FFF , 1522px 760px #FFF , 1098px 1428px #FFF , 824px 1215px #FFF , 1305px 1707px #FFF , 1889px 121px #FFF , 960px 1509px #FFF , 389px 812px #FFF , 904px 633px #FFF , 823px 222px #FFF , 1392px 453px #FFF , 377px 1234px #FFF , 331px 1528px #FFF , 977px 204px #FFF , 1883px 492px #FFF , 477px 619px #FFF , 1607px 1771px #FFF , 741px 1322px #FFF , 1326px 1349px #FFF , 1623px 1081px #FFF , 668px 398px #FFF , 1831px 697px #FFF , 1451px 1890px #FFF , 60px 649px #FFF , 1760px 205px #FFF , 888px 517px #FFF , 437px 74px #FFF , 411px 1777px #FFF , 724px 913px #FFF , 761px 1952px #FFF , 1294px 1462px #FFF , 1339px 1237px #FFF , 826px 1853px #FFF , 1836px 458px #FFF , 1002px 1840px #FFF , 145px 1518px #FFF , 619px 1083px #FFF , 197px 1840px #FFF , 541px 1847px #FFF , 194px 1683px #FFF , 1158px 1458px #FFF , 411px 564px #FFF , 203px 1612px #FFF , 1570px 937px #FFF , 598px 1157px #FFF , 763px 954px #FFF , 468px 304px #FFF , 891px 21px #FFF , 1390px 1178px #FFF , 501px 1181px #FFF , 1916px 1007px #FFF , 237px 1885px #FFF , 893px 1164px #FFF , 136px 1369px #FFF , 398px 720px #FFF , 1443px 144px #FFF , 209px 15px #FFF , 1931px 1987px #FFF , 126px 1514px #FFF , 1767px 1418px #FFF , 756px 15px #FFF , 1889px 1245px #FFF , 1473px 188px #FFF , 1358px 728px #FFF , 107px 1914px #FFF , 318px 1267px #FFF , 291px 1268px #FFF , 1023px 47px #FFF , 1358px 1620px #FFF , 1263px 68px #FFF , 1839px 1127px #FFF , 1109px 674px #FFF , 1687px 1889px #FFF , 1357px 1307px #FFF , 839px 620px #FFF , 872px 871px #FFF , 1830px 1189px #FFF , 1335px 965px #FFF , 1964px 1787px #FFF , 340px 153px #FFF , 13px 1415px #FFF , 1568px 1215px #FFF , 1350px 887px #FFF , 959px 1325px #FFF , 693px 617px #FFF , 952px 1380px #FFF , 1343px 851px #FFF , 1069px 1017px #FFF , 1780px 1801px #FFF , 448px 410px #FFF , 558px 791px #FFF , 4px 632px #FFF , 576px 1859px #FFF , 260px 1459px #FFF , 1716px 1892px #FFF , 281px 1516px #FFF , 534px 880px #FFF , 532px 1630px #FFF , 1099px 1800px #FFF , 162px 1627px #FFF , 1558px 1880px #FFF , 77px 240px #FFF , 521px 1794px #FFF , 588px 525px #FFF , 293px 233px #FFF , 1909px 1659px #FFF , 875px 74px #FFF , 1356px 85px #FFF , 40px 1521px #FFF , 516px 1241px #FFF , 852px 1704px #FFF , 316px 1228px #FFF , 1602px 519px #FFF , 1663px 689px #FFF , 208px 1646px #FFF , 1465px 778px #FFF , 354px 620px #FFF , 374px 523px #FFF , 1143px 1586px #FFF , 1680px 1235px #FFF;
}

#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  -webkit-box-shadow: 185px 860px #FFF , 1642px 1236px #FFF , 36px 1982px #FFF , 1241px 1px #FFF , 86px 493px #FFF , 1419px 1266px #FFF , 1370px 1337px #FFF , 918px 1239px #FFF , 315px 1537px #FFF , 500px 1765px #FFF , 87px 1594px #FFF , 1962px 487px #FFF , 1667px 1158px #FFF , 1416px 1303px #FFF , 576px 1589px #FFF , 1907px 1762px #FFF , 249px 1333px #FFF , 1281px 1502px #FFF , 1062px 144px #FFF , 832px 870px #FFF , 1041px 1776px #FFF , 944px 1582px #FFF , 848px 1755px #FFF , 1096px 1012px #FFF , 283px 713px #FFF , 1302px 166px #FFF , 1041px 940px #FFF , 701px 854px #FFF , 1358px 992px #FFF , 1963px 105px #FFF , 695px 1646px #FFF , 1557px 619px #FFF , 303px 89px #FFF , 672px 1306px #FFF , 851px 512px #FFF , 1048px 286px #FFF , 1027px 243px #FFF , 1715px 468px #FFF , 1147px 1524px #FFF , 445px 1959px #FFF , 1675px 1669px #FFF , 133px 320px #FFF , 79px 1695px #FFF , 914px 613px #FFF , 1142px 1844px #FFF , 1761px 1552px #FFF , 1366px 346px #FFF , 1947px 686px #FFF , 1171px 1206px #FFF , 1662px 1916px #FFF , 708px 1042px #FFF , 1239px 806px #FFF , 638px 80px #FFF , 1602px 1739px #FFF , 38px 1634px #FFF , 180px 549px #FFF , 1264px 1467px #FFF , 674px 443px #FFF , 1400px 1895px #FFF , 811px 946px #FFF , 281px 503px #FFF , 1644px 694px #FFF , 1363px 996px #FFF , 1559px 128px #FFF , 479px 1558px #FFF , 1393px 265px #FFF , 1366px 759px #FFF , 948px 1091px #FFF , 912px 1768px #FFF , 1261px 1304px #FFF , 205px 46px #FFF , 636px 1218px #FFF , 1337px 1044px #FFF , 466px 1881px #FFF , 11px 1619px #FFF , 1477px 871px #FFF , 60px 1143px #FFF , 1146px 1048px #FFF , 1156px 1168px #FFF , 1423px 1979px #FFF , 1706px 1527px #FFF , 1195px 1631px #FFF , 1823px 124px #FFF , 1218px 289px #FFF , 1464px 1818px #FFF , 425px 1493px #FFF , 525px 26px #FFF , 659px 1865px #FFF , 65px 98px #FFF , 1287px 899px #FFF , 925px 1296px #FFF , 229px 1196px #FFF , 1709px 347px #FFF , 1316px 1420px #FFF , 762px 1265px #FFF , 1767px 284px #FFF , 1786px 1665px #FFF , 1201px 1314px #FFF , 75px 1701px #FFF , 1036px 1351px #FFF , 1399px 146px #FFF , 540px 820px #FFF , 581px 1857px #FFF , 1757px 1210px #FFF , 1158px 102px #FFF , 883px 1222px #FFF , 562px 294px #FFF , 680px 1475px #FFF , 329px 1094px #FFF , 869px 824px #FFF , 975px 1582px #FFF , 569px 1255px #FFF , 1452px 459px #FFF , 1844px 181px #FFF , 1406px 605px #FFF , 1645px 844px #FFF , 247px 560px #FFF , 1563px 1565px #FFF , 1143px 1776px #FFF , 434px 185px #FFF , 1208px 424px #FFF , 1461px 1968px #FFF , 277px 1862px #FFF , 1214px 1788px #FFF , 1377px 191px #FFF , 294px 855px #FFF , 1618px 797px #FFF , 520px 647px #FFF , 126px 1540px #FFF , 1557px 376px #FFF , 916px 474px #FFF , 229px 1699px #FFF , 1489px 1201px #FFF , 738px 714px #FFF , 1251px 704px #FFF , 1332px 1161px #FFF , 923px 1621px #FFF , 962px 388px #FFF , 1602px 1115px #FFF , 1585px 812px #FFF , 1803px 188px #FFF , 1731px 1848px #FFF , 1835px 561px #FFF , 1393px 1891px #FFF , 918px 1364px #FFF , 683px 1570px #FFF , 324px 1215px #FFF , 1435px 1821px #FFF , 1810px 344px #FFF , 1994px 209px #FFF , 248px 697px #FFF , 1882px 806px #FFF , 1486px 684px #FFF , 1204px 719px #FFF , 1486px 1139px #FFF , 1908px 1476px #FFF , 510px 76px #FFF , 838px 1924px #FFF , 257px 9px #FFF , 429px 599px #FFF , 1847px 1013px #FFF , 156px 1943px #FFF , 969px 653px #FFF , 481px 483px #FFF , 563px 1962px #FFF , 1686px 375px #FFF , 140px 599px #FFF , 1665px 836px #FFF , 1070px 1542px #FFF , 1355px 401px #FFF , 840px 1998px #FFF , 392px 9px #FFF , 309px 946px #FFF , 1472px 959px #FFF , 47px 95px #FFF , 1391px 710px #FFF , 861px 993px #FFF , 1963px 299px #FFF , 138px 1616px #FFF , 305px 1849px #FFF , 463px 577px #FFF , 421px 975px #FFF , 1031px 1741px #FFF , 1667px 1305px #FFF , 1584px 1735px #FFF , 1444px 1526px #FFF , 1037px 5px #FFF , 623px 700px #FFF , 646px 667px #FFF , 1773px 1855px #FFF , 1105px 1954px #FFF , 305px 1443px #FFF , 46px 1883px #FFF , 1237px 1868px #FFF , 791px 1704px #FFF , 1501px 380px #FFF , 238px 337px #FFF , 900px 560px #FFF , 605px 597px #FFF , 1971px 42px #FFF;
          box-shadow: 185px 860px #FFF , 1642px 1236px #FFF , 36px 1982px #FFF , 1241px 1px #FFF , 86px 493px #FFF , 1419px 1266px #FFF , 1370px 1337px #FFF , 918px 1239px #FFF , 315px 1537px #FFF , 500px 1765px #FFF , 87px 1594px #FFF , 1962px 487px #FFF , 1667px 1158px #FFF , 1416px 1303px #FFF , 576px 1589px #FFF , 1907px 1762px #FFF , 249px 1333px #FFF , 1281px 1502px #FFF , 1062px 144px #FFF , 832px 870px #FFF , 1041px 1776px #FFF , 944px 1582px #FFF , 848px 1755px #FFF , 1096px 1012px #FFF , 283px 713px #FFF , 1302px 166px #FFF , 1041px 940px #FFF , 701px 854px #FFF , 1358px 992px #FFF , 1963px 105px #FFF , 695px 1646px #FFF , 1557px 619px #FFF , 303px 89px #FFF , 672px 1306px #FFF , 851px 512px #FFF , 1048px 286px #FFF , 1027px 243px #FFF , 1715px 468px #FFF , 1147px 1524px #FFF , 445px 1959px #FFF , 1675px 1669px #FFF , 133px 320px #FFF , 79px 1695px #FFF , 914px 613px #FFF , 1142px 1844px #FFF , 1761px 1552px #FFF , 1366px 346px #FFF , 1947px 686px #FFF , 1171px 1206px #FFF , 1662px 1916px #FFF , 708px 1042px #FFF , 1239px 806px #FFF , 638px 80px #FFF , 1602px 1739px #FFF , 38px 1634px #FFF , 180px 549px #FFF , 1264px 1467px #FFF , 674px 443px #FFF , 1400px 1895px #FFF , 811px 946px #FFF , 281px 503px #FFF , 1644px 694px #FFF , 1363px 996px #FFF , 1559px 128px #FFF , 479px 1558px #FFF , 1393px 265px #FFF , 1366px 759px #FFF , 948px 1091px #FFF , 912px 1768px #FFF , 1261px 1304px #FFF , 205px 46px #FFF , 636px 1218px #FFF , 1337px 1044px #FFF , 466px 1881px #FFF , 11px 1619px #FFF , 1477px 871px #FFF , 60px 1143px #FFF , 1146px 1048px #FFF , 1156px 1168px #FFF , 1423px 1979px #FFF , 1706px 1527px #FFF , 1195px 1631px #FFF , 1823px 124px #FFF , 1218px 289px #FFF , 1464px 1818px #FFF , 425px 1493px #FFF , 525px 26px #FFF , 659px 1865px #FFF , 65px 98px #FFF , 1287px 899px #FFF , 925px 1296px #FFF , 229px 1196px #FFF , 1709px 347px #FFF , 1316px 1420px #FFF , 762px 1265px #FFF , 1767px 284px #FFF , 1786px 1665px #FFF , 1201px 1314px #FFF , 75px 1701px #FFF , 1036px 1351px #FFF , 1399px 146px #FFF , 540px 820px #FFF , 581px 1857px #FFF , 1757px 1210px #FFF , 1158px 102px #FFF , 883px 1222px #FFF , 562px 294px #FFF , 680px 1475px #FFF , 329px 1094px #FFF , 869px 824px #FFF , 975px 1582px #FFF , 569px 1255px #FFF , 1452px 459px #FFF , 1844px 181px #FFF , 1406px 605px #FFF , 1645px 844px #FFF , 247px 560px #FFF , 1563px 1565px #FFF , 1143px 1776px #FFF , 434px 185px #FFF , 1208px 424px #FFF , 1461px 1968px #FFF , 277px 1862px #FFF , 1214px 1788px #FFF , 1377px 191px #FFF , 294px 855px #FFF , 1618px 797px #FFF , 520px 647px #FFF , 126px 1540px #FFF , 1557px 376px #FFF , 916px 474px #FFF , 229px 1699px #FFF , 1489px 1201px #FFF , 738px 714px #FFF , 1251px 704px #FFF , 1332px 1161px #FFF , 923px 1621px #FFF , 962px 388px #FFF , 1602px 1115px #FFF , 1585px 812px #FFF , 1803px 188px #FFF , 1731px 1848px #FFF , 1835px 561px #FFF , 1393px 1891px #FFF , 918px 1364px #FFF , 683px 1570px #FFF , 324px 1215px #FFF , 1435px 1821px #FFF , 1810px 344px #FFF , 1994px 209px #FFF , 248px 697px #FFF , 1882px 806px #FFF , 1486px 684px #FFF , 1204px 719px #FFF , 1486px 1139px #FFF , 1908px 1476px #FFF , 510px 76px #FFF , 838px 1924px #FFF , 257px 9px #FFF , 429px 599px #FFF , 1847px 1013px #FFF , 156px 1943px #FFF , 969px 653px #FFF , 481px 483px #FFF , 563px 1962px #FFF , 1686px 375px #FFF , 140px 599px #FFF , 1665px 836px #FFF , 1070px 1542px #FFF , 1355px 401px #FFF , 840px 1998px #FFF , 392px 9px #FFF , 309px 946px #FFF , 1472px 959px #FFF , 47px 95px #FFF , 1391px 710px #FFF , 861px 993px #FFF , 1963px 299px #FFF , 138px 1616px #FFF , 305px 1849px #FFF , 463px 577px #FFF , 421px 975px #FFF , 1031px 1741px #FFF , 1667px 1305px #FFF , 1584px 1735px #FFF , 1444px 1526px #FFF , 1037px 5px #FFF , 623px 700px #FFF , 646px 667px #FFF , 1773px 1855px #FFF , 1105px 1954px #FFF , 305px 1443px #FFF , 46px 1883px #FFF , 1237px 1868px #FFF , 791px 1704px #FFF , 1501px 380px #FFF , 238px 337px #FFF , 900px 560px #FFF , 605px 597px #FFF , 1971px 42px #FFF;
  -webkit-animation: animStar 100s linear infinite;
          animation: animStar 100s linear infinite;
}
#stars2:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  -webkit-box-shadow: 185px 860px #FFF , 1642px 1236px #FFF , 36px 1982px #FFF , 1241px 1px #FFF , 86px 493px #FFF , 1419px 1266px #FFF , 1370px 1337px #FFF , 918px 1239px #FFF , 315px 1537px #FFF , 500px 1765px #FFF , 87px 1594px #FFF , 1962px 487px #FFF , 1667px 1158px #FFF , 1416px 1303px #FFF , 576px 1589px #FFF , 1907px 1762px #FFF , 249px 1333px #FFF , 1281px 1502px #FFF , 1062px 144px #FFF , 832px 870px #FFF , 1041px 1776px #FFF , 944px 1582px #FFF , 848px 1755px #FFF , 1096px 1012px #FFF , 283px 713px #FFF , 1302px 166px #FFF , 1041px 940px #FFF , 701px 854px #FFF , 1358px 992px #FFF , 1963px 105px #FFF , 695px 1646px #FFF , 1557px 619px #FFF , 303px 89px #FFF , 672px 1306px #FFF , 851px 512px #FFF , 1048px 286px #FFF , 1027px 243px #FFF , 1715px 468px #FFF , 1147px 1524px #FFF , 445px 1959px #FFF , 1675px 1669px #FFF , 133px 320px #FFF , 79px 1695px #FFF , 914px 613px #FFF , 1142px 1844px #FFF , 1761px 1552px #FFF , 1366px 346px #FFF , 1947px 686px #FFF , 1171px 1206px #FFF , 1662px 1916px #FFF , 708px 1042px #FFF , 1239px 806px #FFF , 638px 80px #FFF , 1602px 1739px #FFF , 38px 1634px #FFF , 180px 549px #FFF , 1264px 1467px #FFF , 674px 443px #FFF , 1400px 1895px #FFF , 811px 946px #FFF , 281px 503px #FFF , 1644px 694px #FFF , 1363px 996px #FFF , 1559px 128px #FFF , 479px 1558px #FFF , 1393px 265px #FFF , 1366px 759px #FFF , 948px 1091px #FFF , 912px 1768px #FFF , 1261px 1304px #FFF , 205px 46px #FFF , 636px 1218px #FFF , 1337px 1044px #FFF , 466px 1881px #FFF , 11px 1619px #FFF , 1477px 871px #FFF , 60px 1143px #FFF , 1146px 1048px #FFF , 1156px 1168px #FFF , 1423px 1979px #FFF , 1706px 1527px #FFF , 1195px 1631px #FFF , 1823px 124px #FFF , 1218px 289px #FFF , 1464px 1818px #FFF , 425px 1493px #FFF , 525px 26px #FFF , 659px 1865px #FFF , 65px 98px #FFF , 1287px 899px #FFF , 925px 1296px #FFF , 229px 1196px #FFF , 1709px 347px #FFF , 1316px 1420px #FFF , 762px 1265px #FFF , 1767px 284px #FFF , 1786px 1665px #FFF , 1201px 1314px #FFF , 75px 1701px #FFF , 1036px 1351px #FFF , 1399px 146px #FFF , 540px 820px #FFF , 581px 1857px #FFF , 1757px 1210px #FFF , 1158px 102px #FFF , 883px 1222px #FFF , 562px 294px #FFF , 680px 1475px #FFF , 329px 1094px #FFF , 869px 824px #FFF , 975px 1582px #FFF , 569px 1255px #FFF , 1452px 459px #FFF , 1844px 181px #FFF , 1406px 605px #FFF , 1645px 844px #FFF , 247px 560px #FFF , 1563px 1565px #FFF , 1143px 1776px #FFF , 434px 185px #FFF , 1208px 424px #FFF , 1461px 1968px #FFF , 277px 1862px #FFF , 1214px 1788px #FFF , 1377px 191px #FFF , 294px 855px #FFF , 1618px 797px #FFF , 520px 647px #FFF , 126px 1540px #FFF , 1557px 376px #FFF , 916px 474px #FFF , 229px 1699px #FFF , 1489px 1201px #FFF , 738px 714px #FFF , 1251px 704px #FFF , 1332px 1161px #FFF , 923px 1621px #FFF , 962px 388px #FFF , 1602px 1115px #FFF , 1585px 812px #FFF , 1803px 188px #FFF , 1731px 1848px #FFF , 1835px 561px #FFF , 1393px 1891px #FFF , 918px 1364px #FFF , 683px 1570px #FFF , 324px 1215px #FFF , 1435px 1821px #FFF , 1810px 344px #FFF , 1994px 209px #FFF , 248px 697px #FFF , 1882px 806px #FFF , 1486px 684px #FFF , 1204px 719px #FFF , 1486px 1139px #FFF , 1908px 1476px #FFF , 510px 76px #FFF , 838px 1924px #FFF , 257px 9px #FFF , 429px 599px #FFF , 1847px 1013px #FFF , 156px 1943px #FFF , 969px 653px #FFF , 481px 483px #FFF , 563px 1962px #FFF , 1686px 375px #FFF , 140px 599px #FFF , 1665px 836px #FFF , 1070px 1542px #FFF , 1355px 401px #FFF , 840px 1998px #FFF , 392px 9px #FFF , 309px 946px #FFF , 1472px 959px #FFF , 47px 95px #FFF , 1391px 710px #FFF , 861px 993px #FFF , 1963px 299px #FFF , 138px 1616px #FFF , 305px 1849px #FFF , 463px 577px #FFF , 421px 975px #FFF , 1031px 1741px #FFF , 1667px 1305px #FFF , 1584px 1735px #FFF , 1444px 1526px #FFF , 1037px 5px #FFF , 623px 700px #FFF , 646px 667px #FFF , 1773px 1855px #FFF , 1105px 1954px #FFF , 305px 1443px #FFF , 46px 1883px #FFF , 1237px 1868px #FFF , 791px 1704px #FFF , 1501px 380px #FFF , 238px 337px #FFF , 900px 560px #FFF , 605px 597px #FFF , 1971px 42px #FFF;
          box-shadow: 185px 860px #FFF , 1642px 1236px #FFF , 36px 1982px #FFF , 1241px 1px #FFF , 86px 493px #FFF , 1419px 1266px #FFF , 1370px 1337px #FFF , 918px 1239px #FFF , 315px 1537px #FFF , 500px 1765px #FFF , 87px 1594px #FFF , 1962px 487px #FFF , 1667px 1158px #FFF , 1416px 1303px #FFF , 576px 1589px #FFF , 1907px 1762px #FFF , 249px 1333px #FFF , 1281px 1502px #FFF , 1062px 144px #FFF , 832px 870px #FFF , 1041px 1776px #FFF , 944px 1582px #FFF , 848px 1755px #FFF , 1096px 1012px #FFF , 283px 713px #FFF , 1302px 166px #FFF , 1041px 940px #FFF , 701px 854px #FFF , 1358px 992px #FFF , 1963px 105px #FFF , 695px 1646px #FFF , 1557px 619px #FFF , 303px 89px #FFF , 672px 1306px #FFF , 851px 512px #FFF , 1048px 286px #FFF , 1027px 243px #FFF , 1715px 468px #FFF , 1147px 1524px #FFF , 445px 1959px #FFF , 1675px 1669px #FFF , 133px 320px #FFF , 79px 1695px #FFF , 914px 613px #FFF , 1142px 1844px #FFF , 1761px 1552px #FFF , 1366px 346px #FFF , 1947px 686px #FFF , 1171px 1206px #FFF , 1662px 1916px #FFF , 708px 1042px #FFF , 1239px 806px #FFF , 638px 80px #FFF , 1602px 1739px #FFF , 38px 1634px #FFF , 180px 549px #FFF , 1264px 1467px #FFF , 674px 443px #FFF , 1400px 1895px #FFF , 811px 946px #FFF , 281px 503px #FFF , 1644px 694px #FFF , 1363px 996px #FFF , 1559px 128px #FFF , 479px 1558px #FFF , 1393px 265px #FFF , 1366px 759px #FFF , 948px 1091px #FFF , 912px 1768px #FFF , 1261px 1304px #FFF , 205px 46px #FFF , 636px 1218px #FFF , 1337px 1044px #FFF , 466px 1881px #FFF , 11px 1619px #FFF , 1477px 871px #FFF , 60px 1143px #FFF , 1146px 1048px #FFF , 1156px 1168px #FFF , 1423px 1979px #FFF , 1706px 1527px #FFF , 1195px 1631px #FFF , 1823px 124px #FFF , 1218px 289px #FFF , 1464px 1818px #FFF , 425px 1493px #FFF , 525px 26px #FFF , 659px 1865px #FFF , 65px 98px #FFF , 1287px 899px #FFF , 925px 1296px #FFF , 229px 1196px #FFF , 1709px 347px #FFF , 1316px 1420px #FFF , 762px 1265px #FFF , 1767px 284px #FFF , 1786px 1665px #FFF , 1201px 1314px #FFF , 75px 1701px #FFF , 1036px 1351px #FFF , 1399px 146px #FFF , 540px 820px #FFF , 581px 1857px #FFF , 1757px 1210px #FFF , 1158px 102px #FFF , 883px 1222px #FFF , 562px 294px #FFF , 680px 1475px #FFF , 329px 1094px #FFF , 869px 824px #FFF , 975px 1582px #FFF , 569px 1255px #FFF , 1452px 459px #FFF , 1844px 181px #FFF , 1406px 605px #FFF , 1645px 844px #FFF , 247px 560px #FFF , 1563px 1565px #FFF , 1143px 1776px #FFF , 434px 185px #FFF , 1208px 424px #FFF , 1461px 1968px #FFF , 277px 1862px #FFF , 1214px 1788px #FFF , 1377px 191px #FFF , 294px 855px #FFF , 1618px 797px #FFF , 520px 647px #FFF , 126px 1540px #FFF , 1557px 376px #FFF , 916px 474px #FFF , 229px 1699px #FFF , 1489px 1201px #FFF , 738px 714px #FFF , 1251px 704px #FFF , 1332px 1161px #FFF , 923px 1621px #FFF , 962px 388px #FFF , 1602px 1115px #FFF , 1585px 812px #FFF , 1803px 188px #FFF , 1731px 1848px #FFF , 1835px 561px #FFF , 1393px 1891px #FFF , 918px 1364px #FFF , 683px 1570px #FFF , 324px 1215px #FFF , 1435px 1821px #FFF , 1810px 344px #FFF , 1994px 209px #FFF , 248px 697px #FFF , 1882px 806px #FFF , 1486px 684px #FFF , 1204px 719px #FFF , 1486px 1139px #FFF , 1908px 1476px #FFF , 510px 76px #FFF , 838px 1924px #FFF , 257px 9px #FFF , 429px 599px #FFF , 1847px 1013px #FFF , 156px 1943px #FFF , 969px 653px #FFF , 481px 483px #FFF , 563px 1962px #FFF , 1686px 375px #FFF , 140px 599px #FFF , 1665px 836px #FFF , 1070px 1542px #FFF , 1355px 401px #FFF , 840px 1998px #FFF , 392px 9px #FFF , 309px 946px #FFF , 1472px 959px #FFF , 47px 95px #FFF , 1391px 710px #FFF , 861px 993px #FFF , 1963px 299px #FFF , 138px 1616px #FFF , 305px 1849px #FFF , 463px 577px #FFF , 421px 975px #FFF , 1031px 1741px #FFF , 1667px 1305px #FFF , 1584px 1735px #FFF , 1444px 1526px #FFF , 1037px 5px #FFF , 623px 700px #FFF , 646px 667px #FFF , 1773px 1855px #FFF , 1105px 1954px #FFF , 305px 1443px #FFF , 46px 1883px #FFF , 1237px 1868px #FFF , 791px 1704px #FFF , 1501px 380px #FFF , 238px 337px #FFF , 900px 560px #FFF , 605px 597px #FFF , 1971px 42px #FFF;
}

#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  -webkit-box-shadow: 476px 951px #FFF , 1305px 822px #FFF , 238px 824px #FFF , 603px 461px #FFF , 447px 618px #FFF , 1665px 58px #FFF , 103px 1694px #FFF , 1968px 1902px #FFF , 1202px 1928px #FFF , 1101px 111px #FFF , 577px 550px #FFF , 507px 1080px #FFF , 1321px 355px #FFF , 81px 1284px #FFF , 177px 1337px #FFF , 223px 1071px #FFF , 1641px 1711px #FFF , 11px 1266px #FFF , 220px 864px #FFF , 825px 1131px #FFF , 871px 1878px #FFF , 443px 1075px #FFF , 496px 84px #FFF , 1330px 45px #FFF , 1629px 514px #FFF , 1748px 682px #FFF , 354px 1241px #FFF , 1739px 1720px #FFF , 281px 1479px #FFF , 945px 1451px #FFF , 1613px 1828px #FFF , 1535px 1119px #FFF , 446px 434px #FFF , 1328px 645px #FFF , 700px 1950px #FFF , 973px 492px #FFF , 873px 1159px #FFF , 458px 782px #FFF , 1782px 920px #FFF , 800px 234px #FFF , 869px 1721px #FFF , 1466px 801px #FFF , 766px 882px #FFF , 149px 1179px #FFF , 1303px 1850px #FFF , 1613px 1121px #FFF , 1061px 1068px #FFF , 876px 412px #FFF , 231px 1776px #FFF , 656px 366px #FFF , 803px 185px #FFF , 511px 1842px #FFF , 1850px 1959px #FFF , 1858px 751px #FFF , 744px 275px #FFF , 648px 303px #FFF , 1824px 858px #FFF , 1963px 906px #FFF , 1456px 1997px #FFF , 187px 1198px #FFF , 602px 484px #FFF , 746px 1359px #FFF , 796px 882px #FFF , 1653px 1687px #FFF , 391px 1869px #FFF , 985px 1001px #FFF , 1019px 466px #FFF , 643px 1158px #FFF , 872px 1601px #FFF , 1384px 1901px #FFF , 974px 1675px #FFF , 454px 1208px #FFF , 1231px 656px #FFF , 1500px 415px #FFF , 980px 1030px #FFF , 1429px 1924px #FFF , 522px 1930px #FFF , 352px 754px #FFF , 683px 1739px #FFF , 517px 1664px #FFF , 443px 560px #FFF , 1545px 1505px #FFF , 532px 1245px #FFF , 63px 622px #FFF , 534px 1849px #FFF , 1388px 1538px #FFF , 1729px 1703px #FFF , 463px 1012px #FFF , 657px 388px #FFF , 1747px 1416px #FFF , 510px 1275px #FFF , 721px 1030px #FFF , 1021px 6px #FFF , 1076px 813px #FFF , 457px 286px #FFF , 1100px 3px #FFF , 1642px 1922px #FFF , 109px 1839px #FFF , 1660px 1882px #FFF , 1848px 1395px #FFF;
          box-shadow: 476px 951px #FFF , 1305px 822px #FFF , 238px 824px #FFF , 603px 461px #FFF , 447px 618px #FFF , 1665px 58px #FFF , 103px 1694px #FFF , 1968px 1902px #FFF , 1202px 1928px #FFF , 1101px 111px #FFF , 577px 550px #FFF , 507px 1080px #FFF , 1321px 355px #FFF , 81px 1284px #FFF , 177px 1337px #FFF , 223px 1071px #FFF , 1641px 1711px #FFF , 11px 1266px #FFF , 220px 864px #FFF , 825px 1131px #FFF , 871px 1878px #FFF , 443px 1075px #FFF , 496px 84px #FFF , 1330px 45px #FFF , 1629px 514px #FFF , 1748px 682px #FFF , 354px 1241px #FFF , 1739px 1720px #FFF , 281px 1479px #FFF , 945px 1451px #FFF , 1613px 1828px #FFF , 1535px 1119px #FFF , 446px 434px #FFF , 1328px 645px #FFF , 700px 1950px #FFF , 973px 492px #FFF , 873px 1159px #FFF , 458px 782px #FFF , 1782px 920px #FFF , 800px 234px #FFF , 869px 1721px #FFF , 1466px 801px #FFF , 766px 882px #FFF , 149px 1179px #FFF , 1303px 1850px #FFF , 1613px 1121px #FFF , 1061px 1068px #FFF , 876px 412px #FFF , 231px 1776px #FFF , 656px 366px #FFF , 803px 185px #FFF , 511px 1842px #FFF , 1850px 1959px #FFF , 1858px 751px #FFF , 744px 275px #FFF , 648px 303px #FFF , 1824px 858px #FFF , 1963px 906px #FFF , 1456px 1997px #FFF , 187px 1198px #FFF , 602px 484px #FFF , 746px 1359px #FFF , 796px 882px #FFF , 1653px 1687px #FFF , 391px 1869px #FFF , 985px 1001px #FFF , 1019px 466px #FFF , 643px 1158px #FFF , 872px 1601px #FFF , 1384px 1901px #FFF , 974px 1675px #FFF , 454px 1208px #FFF , 1231px 656px #FFF , 1500px 415px #FFF , 980px 1030px #FFF , 1429px 1924px #FFF , 522px 1930px #FFF , 352px 754px #FFF , 683px 1739px #FFF , 517px 1664px #FFF , 443px 560px #FFF , 1545px 1505px #FFF , 532px 1245px #FFF , 63px 622px #FFF , 534px 1849px #FFF , 1388px 1538px #FFF , 1729px 1703px #FFF , 463px 1012px #FFF , 657px 388px #FFF , 1747px 1416px #FFF , 510px 1275px #FFF , 721px 1030px #FFF , 1021px 6px #FFF , 1076px 813px #FFF , 457px 286px #FFF , 1100px 3px #FFF , 1642px 1922px #FFF , 109px 1839px #FFF , 1660px 1882px #FFF , 1848px 1395px #FFF;
  -webkit-animation: animStar 150s linear infinite;
          animation: animStar 150s linear infinite;
}
#stars3:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 3px;
  height: 3px;
  background: transparent;
  -webkit-box-shadow: 476px 951px #FFF , 1305px 822px #FFF , 238px 824px #FFF , 603px 461px #FFF , 447px 618px #FFF , 1665px 58px #FFF , 103px 1694px #FFF , 1968px 1902px #FFF , 1202px 1928px #FFF , 1101px 111px #FFF , 577px 550px #FFF , 507px 1080px #FFF , 1321px 355px #FFF , 81px 1284px #FFF , 177px 1337px #FFF , 223px 1071px #FFF , 1641px 1711px #FFF , 11px 1266px #FFF , 220px 864px #FFF , 825px 1131px #FFF , 871px 1878px #FFF , 443px 1075px #FFF , 496px 84px #FFF , 1330px 45px #FFF , 1629px 514px #FFF , 1748px 682px #FFF , 354px 1241px #FFF , 1739px 1720px #FFF , 281px 1479px #FFF , 945px 1451px #FFF , 1613px 1828px #FFF , 1535px 1119px #FFF , 446px 434px #FFF , 1328px 645px #FFF , 700px 1950px #FFF , 973px 492px #FFF , 873px 1159px #FFF , 458px 782px #FFF , 1782px 920px #FFF , 800px 234px #FFF , 869px 1721px #FFF , 1466px 801px #FFF , 766px 882px #FFF , 149px 1179px #FFF , 1303px 1850px #FFF , 1613px 1121px #FFF , 1061px 1068px #FFF , 876px 412px #FFF , 231px 1776px #FFF , 656px 366px #FFF , 803px 185px #FFF , 511px 1842px #FFF , 1850px 1959px #FFF , 1858px 751px #FFF , 744px 275px #FFF , 648px 303px #FFF , 1824px 858px #FFF , 1963px 906px #FFF , 1456px 1997px #FFF , 187px 1198px #FFF , 602px 484px #FFF , 746px 1359px #FFF , 796px 882px #FFF , 1653px 1687px #FFF , 391px 1869px #FFF , 985px 1001px #FFF , 1019px 466px #FFF , 643px 1158px #FFF , 872px 1601px #FFF , 1384px 1901px #FFF , 974px 1675px #FFF , 454px 1208px #FFF , 1231px 656px #FFF , 1500px 415px #FFF , 980px 1030px #FFF , 1429px 1924px #FFF , 522px 1930px #FFF , 352px 754px #FFF , 683px 1739px #FFF , 517px 1664px #FFF , 443px 560px #FFF , 1545px 1505px #FFF , 532px 1245px #FFF , 63px 622px #FFF , 534px 1849px #FFF , 1388px 1538px #FFF , 1729px 1703px #FFF , 463px 1012px #FFF , 657px 388px #FFF , 1747px 1416px #FFF , 510px 1275px #FFF , 721px 1030px #FFF , 1021px 6px #FFF , 1076px 813px #FFF , 457px 286px #FFF , 1100px 3px #FFF , 1642px 1922px #FFF , 109px 1839px #FFF , 1660px 1882px #FFF , 1848px 1395px #FFF;
          box-shadow: 476px 951px #FFF , 1305px 822px #FFF , 238px 824px #FFF , 603px 461px #FFF , 447px 618px #FFF , 1665px 58px #FFF , 103px 1694px #FFF , 1968px 1902px #FFF , 1202px 1928px #FFF , 1101px 111px #FFF , 577px 550px #FFF , 507px 1080px #FFF , 1321px 355px #FFF , 81px 1284px #FFF , 177px 1337px #FFF , 223px 1071px #FFF , 1641px 1711px #FFF , 11px 1266px #FFF , 220px 864px #FFF , 825px 1131px #FFF , 871px 1878px #FFF , 443px 1075px #FFF , 496px 84px #FFF , 1330px 45px #FFF , 1629px 514px #FFF , 1748px 682px #FFF , 354px 1241px #FFF , 1739px 1720px #FFF , 281px 1479px #FFF , 945px 1451px #FFF , 1613px 1828px #FFF , 1535px 1119px #FFF , 446px 434px #FFF , 1328px 645px #FFF , 700px 1950px #FFF , 973px 492px #FFF , 873px 1159px #FFF , 458px 782px #FFF , 1782px 920px #FFF , 800px 234px #FFF , 869px 1721px #FFF , 1466px 801px #FFF , 766px 882px #FFF , 149px 1179px #FFF , 1303px 1850px #FFF , 1613px 1121px #FFF , 1061px 1068px #FFF , 876px 412px #FFF , 231px 1776px #FFF , 656px 366px #FFF , 803px 185px #FFF , 511px 1842px #FFF , 1850px 1959px #FFF , 1858px 751px #FFF , 744px 275px #FFF , 648px 303px #FFF , 1824px 858px #FFF , 1963px 906px #FFF , 1456px 1997px #FFF , 187px 1198px #FFF , 602px 484px #FFF , 746px 1359px #FFF , 796px 882px #FFF , 1653px 1687px #FFF , 391px 1869px #FFF , 985px 1001px #FFF , 1019px 466px #FFF , 643px 1158px #FFF , 872px 1601px #FFF , 1384px 1901px #FFF , 974px 1675px #FFF , 454px 1208px #FFF , 1231px 656px #FFF , 1500px 415px #FFF , 980px 1030px #FFF , 1429px 1924px #FFF , 522px 1930px #FFF , 352px 754px #FFF , 683px 1739px #FFF , 517px 1664px #FFF , 443px 560px #FFF , 1545px 1505px #FFF , 532px 1245px #FFF , 63px 622px #FFF , 534px 1849px #FFF , 1388px 1538px #FFF , 1729px 1703px #FFF , 463px 1012px #FFF , 657px 388px #FFF , 1747px 1416px #FFF , 510px 1275px #FFF , 721px 1030px #FFF , 1021px 6px #FFF , 1076px 813px #FFF , 457px 286px #FFF , 1100px 3px #FFF , 1642px 1922px #FFF , 109px 1839px #FFF , 1660px 1882px #FFF , 1848px 1395px #FFF;
}
/*--- END STARS BACKGROUND ---*/


/*--- WARNING ROTATE ---*/
#warningRotate {
	display: none;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	position: absolute;
	width: 100vw;
	height: 100vh;
	background-color: #171543;
	z-index: 999;
}
#warningRotate img {
	width: 10vw; 
	-webkit-animation: rotateScreen 2s infinite; 
	        animation: rotateScreen 2s infinite;
	-webkit-transition-duration: 0.5s;
	     -o-transition-duration: 0.5s;
	        transition-duration: 0.5s;
}
@media screen and (max-device-width: 1200px) and (orientation: landscape) {

#starsBackground {position: absolute; width: 100vw; height: 100vh; z-index: 1000;}
#warningRotate {display: -webkit-box;display: -ms-flexbox;display: flex;}

}
@-webkit-keyframes rotateScreen {
	85%  {-webkit-transform: rotate(90deg);transform: rotate(90deg);}
	100% {-webkit-transform: rotate(0deg);transform: rotate(0deg);}

}
@keyframes rotateScreen {
	85%  {-webkit-transform: rotate(90deg);transform: rotate(90deg);}
	100% {-webkit-transform: rotate(0deg);transform: rotate(0deg);}

}
/*--- END WARNING ROTATE ---*/


@-webkit-keyframes bounce {
	0%   {-webkit-transform: scale(0.90);transform: scale(0.90);}
	50%  {-webkit-transform: scale(1.10);transform: scale(1.10);}			
	100% {-webkit-transform: scale(1);transform: scale(1);}
}
@-webkit-keyframes shake {
	0%   { -webkit-transform: translate(2px, 1px) rotate(0deg); }
	10%  { -webkit-transform: translate(-1px, -2px) rotate(-1deg); }
	20%  { -webkit-transform: translate(-3px, 0px) rotate(1deg); }
	30%  { -webkit-transform: translate(0px, 2px) rotate(0deg); }
	40%  { -webkit-transform: translate(1px, -1px) rotate(1deg); }
	50%  { -webkit-transform: translate(-1px, 2px) rotate(-1deg); }
	60%  { -webkit-transform: translate(-3px, 1px) rotate(0deg); }
	70%  { -webkit-transform: translate(2px, 1px) rotate(-1deg); }
	80%  { -webkit-transform: translate(-1px, -1px) rotate(1deg); }
	90%  { -webkit-transform: translate(2px, 2px) rotate(0deg); }
	100% { -webkit-transform: translate(0, 0) rotate(0deg); }
}
@-webkit-keyframes explode {
	0%   {-webkit-transform: scale(0);}
	70% {-webkit-transform: scale(200);}
	100% {-webkit-transform: scale(0);}
}
@-webkit-keyframes pulsate {
	0% {-webkit-transform: scale(0.2); opacity: 0.8};
	80% {-webkit-transform: scale(1.2); opacity: 0};
	100% {-webkit-transform: scale(2.2); opacity: 0};
}
@-webkit-keyframes rotate {
	100% {-webkit-transform: rotate(360deg);}
}
@-webkit-keyframes textShake {
  0% {
    -webkit-transform: skewX(-15deg);
            transform: skewX(-15deg);
  }
  5% {
    -webkit-transform: skewX(15deg);
            transform: skewX(15deg);
  }
  10% {
    -webkit-transform: skewX(-15deg);
            transform: skewX(-15deg);
  }
  15% {
    -webkit-transform: skewX(15deg);
            transform: skewX(15deg);
  }
  20% {
    -webkit-transform: skewX(0deg);
            transform: skewX(0deg);
  }
}
@-webkit-keyframes rotation {
	0% {
		-webkit-transform: rotateY(-90deg);
		        transform: rotateY(-90deg);
		opacity: 0;
	}

	75% {
		-webkit-transform: rotateY(20deg);
		        transform: rotateY(20deg);
	}

	100% {
		-webkit-transform: rotateY(0deg);
		        transform: rotateY(0deg);
		opacity: 1;
	}
}

@-webkit-keyframes animStar {
  from {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  to {
    -webkit-transform: translateY(-2000px);
            transform: translateY(-2000px);
  }
}

@keyframes animStar {
  from {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  to {
    -webkit-transform: translateY(-2000px);
            transform: translateY(-2000px);
  }
}





@media screen and (min-device-width: 1200px) {

html {font-size: 10px;}

#planet {left: initial; right: 10vw;}

#langCtn {margin-top: 70px;}
#langCtn div {min-width: initial; padding: 5px 0 5px 20px; }
#langCtn div h2 {font-size: 3rem;}
#langCtn img {width: 50px; max-height: 40px; margin-left: 20%;}

#astronautCtn1 {margin-top: 50px; margin-left: 50px;}
#astronautCtn1 #astronaut {width: 15vw;}

#button {margin-top: 80px; font-size: 3rem;}


}