.pulsar-form {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	width: 100vw;
	font-size: 20px;
	margin-top: 15vh;
}

.pulsar-form #pulsarTitle {
	font-size: 3em;
	-ms-flex-item-align: start;
	    align-self: flex-start;
	margin: 0 30px;
	padding: 5px 20px;
	background: #000;
	-webkit-box-shadow: 0 0 10px #000;
	        box-shadow: 0 0 10px #000;
	-webkit-transform: skewX(-15deg);
	    -ms-transform: skewX(-15deg);
	        transform: skewX(-15deg);
}

#introductingText {
	background-color: rgba(0,0,0,0.5);
	border-radius: 10px;
	-webkit-box-shadow: 0 0 20px #000;
	        box-shadow: 0 0 20px #000;
	margin: 0 20px;
	padding: 20px;
	text-align: center;
	font-size: 2em;
}
p .red {
	color: #FF1361;
}
p .green {
	color: #0DFF92;
}
p .stop-button {
	background-color: #000;
	padding: 7px 7px;
	border: solid 2px #fff;
	border-radius: 10px;
}

/*--- BUTTON START ---*/
#button-start { 
	padding: 10px 30px; 
	border-radius: 7px; 
	font-size: 6em;
	margin-top: 100px;
	-webkit-transform: translateY(-50%);
	      -ms-transform: translateY(-50%);
	    transform: translateY(-50%);
	background: #000;
	color: #fff;
	-webkit-box-shadow: 0 0 10px #000;
	        box-shadow: 0 0 10px #000;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
	opacity: 0;
	-webkit-animation: fadingOpacity 0.5s forwards;
	        animation: fadingOpacity 0.5s forwards;
	-webkit-animation-delay: 2.5s;
	        animation-delay: 2.5s;
	overflow: hidden;
	visibility: hidden;
}
#button-start:focus {
	outline: 0;
}

#button-start:before {
  content: '';
  display: block;
  position: absolute;
  background: rgba(255, 255, 255, 0.5);
  width: 60px;
  height: 100%;
  left: 0;
  top: 0;
  opacity: .5;
  -webkit-filter: blur(30px);
          filter: blur(30px);
  -webkit-transform: skewX(-15deg);
          -ms-transform: skewX(-15deg);
      transform: skewX(-15deg);
}
#button-start:after {
  content: '';
  display: block;
  position: absolute;
  background: rgba(255, 255, 255, 0.2);
  width: 30px;
  height: 100%;
  left: 30px;
  top: 0;
  opacity: 0;
  -webkit-filter: blur(5px);
          filter: blur(5px);
  -webkit-transform: translateX(-100px) skewX(-15deg);
          -ms-transform: translateX(-100px) skewX(-15deg);
      transform: translateX(-100px) skewX(-15deg);
}
#button-start:hover {
	background: #397939;
	-webkit-box-shadow: 0 0 10px #397939;
	        box-shadow: 0 0 10px #397939;
	cursor: pointer;
}
#button-start:hover:before {
	-webkit-transform: translateX(300px) skewX(-15deg);
	      -ms-transform: translateX(300px) skewX(-15deg);
	    transform: translateX(300px) skewX(-15deg);
	opacity: 0.6;
	-webkit-transition: .7s;
	-o-transition: .7s;
	transition: .7s;
}
#button-start:hover:after {
	-webkit-transform: translateX(300px) skewX(-15deg);
	      -ms-transform: translateX(300px) skewX(-15deg);
	    transform: translateX(300px) skewX(-15deg);
	opacity: 1;
	-webkit-transition: .7s;
	-o-transition: .7s;
	transition: .7s;
}
/*--- END BUTTON START ---*/

#button-stop {
	margin-top: 50px;
	padding: 10px 30px; 
	border-radius: 7px; 
	font-size: 6em;
	background: #000;
	color: #fff;
	-webkit-box-shadow: 0 0 10px #000;
	        box-shadow: 0 0 10px #000;
	cursor: pointer;
}

#validFormButton {
	color: #0DFF92;
	padding: 10px 30px;
	margin-top: 20px;
	border-radius: 7px; 
	font-size: 2.5em;
	background: #000;
	-webkit-box-shadow: 0 0 10px #000;
	        box-shadow: 0 0 10px #000;
	cursor: pointer;
}

/*--- FORM ---*/

.form {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.form h1 {
	font-size: 3em;
	margin-top: 0;
	margin-bottom: 50px; 
	text-align: center;
}
.questions {
	max-width: 90vw;
	padding: 10px 20px;
	background-color: rgba(0,0,0,0.3);
	border-radius: 10px;
	-webkit-box-shadow: 0 0 20px #000;
	        box-shadow: 0 0 20px #000;
}
.question {
	display: none;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.question .entry {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.question .entry p {
	font-size: 1.5em;
	width: 25vw;
}
.question .entry p:first-child {
	text-align: right;
	margin-right: 20px;
}
.question .entry p:last-child {
	text-align: left;
	margin-left: 20px;
}

.progressBar {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	position: relative;
	width: 60vw;
	margin-top: 30px;
}
.progressBar div {
	height: 5px;
	-webkit-box-flex: 1;
	    -ms-flex: 1;
	        flex: 1;
	margin: 0 5px;
	border-radius: 10px;
}
.progressBar .inProgress {
	background-color: #0DFF92;	
}
.progressBar .notInProgress {
	background-color: #000;	
}

#goPrev, #goNext {
	width: 60px;
	height: 60px;
	margin: 10px 0;
	-webkit-transition-duration: 0.5s;
	     -o-transition-duration: 0.5s;
	        transition-duration: 0.5s;
	cursor: pointer;
}
#goPrev {
	-ms-flex-item-align: start;
	    align-self: flex-start;
	-webkit-transform: rotate(180deg);
	    -ms-transform: rotate(180deg);
	        transform: rotate(180deg);
	margin-right: 30px;
}
#goNext {
	-ms-flex-item-align: end;
	    align-self: flex-end;
	margin-left: 30px;
}
#goPrev:hover {
	-webkit-transform: translateX(-10px) rotate(180deg);
	    -ms-transform: translateX(-10px) rotate(180deg);
	        transform: translateX(-10px) rotate(180deg);
}
#goNext:hover {
	-webkit-transform: translateX(10px);
	    -ms-transform: translateX(10px);
	        transform: translateX(10px);
}

#validationAnimation {
	margin-top: 150px;
	width: 200px;
}
@-webkit-keyframes error {
  0%, 100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translateX(-6px);
            transform: translateX(-6px);
  }
  20%, 40%, 60%, 80% {
    -webkit-transform: translateX(6px);
            transform: translateX(6px);
  }
}
@keyframes error {
  0%, 100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translateX(-6px);
            transform: translateX(-6px);
  }
  20%, 40%, 60%, 80% {
    -webkit-transform: translateX(6px);
            transform: translateX(6px);
  }
}

/*--- END FORM ---*/


/*--- PULSE ANIMATION---*/
.pulse-animation-ctn {
	background: -webkit-radial-gradient(circle, rgba(59,95,143,1) 0%, rgba(48,82,126,0.67) 86%);
	background: -o-radial-gradient(circle, rgba(59,95,143,1) 0%, rgba(48,82,126,0.67) 86%);
	background: radial-gradient(circle, rgba(59,95,143,1) 0%, rgba(48,82,126,0.67) 86%);
	-webkit-box-shadow: 0 0 20px #000;
	        box-shadow: 0 0 20px #000;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;;
	-webkit-box-pack: center;;
	    -ms-flex-pack: center;;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	border-radius: 50%;
}
.pulse-animation {
	background: #fff;
	border: 3px solid #fff;
	border-radius: 50%;
	-webkit-animation: pulsate ease-out infinite both;
	        animation: pulsate ease-out infinite both;
	opacity: 1;
}

@-webkit-keyframes pulsate {
	0% {-webkit-transform: scale(0.2); opacity: 0.8;}
	80% {-webkit-transform: scale(1.9); opacity: 0; -webkit-box-shadow: 0 0 20px rgba(255,255,255,0.6); box-shadow: 0 0 20px rgba(255,255,255,0.6);}
	100% {-webkit-transform: scale(3.5); opacity: 0; -webkit-box-shadow: 0 0 60px rgba(255,255,255,0.7); box-shadow: 0 0 60px rgba(255,255,255,0.7); border-color: rgba(255,255,255,0.5); background: rgba(255,255,255,0.7);}
}
/*--- END PULSE ANIMATION---*/


/*--- SOME CSS ANIMATION ---*/
@-webkit-keyframes fadingApparition {
	0%   {-webkit-transform: translateY(20px);transform: translateY(20px); opacity: 0;}
	100% {-webkit-transform: translateY(0px);transform: translateY(0px); opacity: 1;}
}
@-webkit-keyframes bounce {
	0%   {-webkit-transform: scale(0.90);transform: scale(0.90);}
	50%  {-webkit-transform: scale(1.10);transform: scale(1.10);}			
	100% {-webkit-transform: scale(1);transform: scale(1);}
}

@-webkit-keyframes fadingOpacity {
	0%   {opacity: 0;}
	100% {opacity: 1; visibility: visible;}
}
/*--- END SOME CSS ANIMATION ---*/


/*--- RADIO BUTTON ---*/
input[type="radio"] {
	display: none;
}
.radio {
	width: 40px;
	height: 40px;
	margin: 0 5px;
	border: solid 3px #0DFF92;
	-webkit-box-shadow: 0 0 5px #0DFF92;
	        box-shadow: 0 0 5px #0DFF92;
	border-radius: 50%;
	cursor: pointer;
}
input[type="radio"]:checked + .radio {
	background-color: #0DFF92;
	-webkit-animation: bounce 0.5s;
	        animation: bounce 0.5s;
}

/*--- END RADIO BUTTON ---*/




@media screen and (min-device-width: 1200px) {

.pulsar-form {
	font-size: 10px;
	margin-top: 2vh;
}

.form {
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
}

#introductingText {font-size: 2.5em;}
p .stop-button {font-size: 0.7em; border-width: 1px;}

.form h1 {
	font-size: 4.5em;
}

#goPrev, #goNext {margin: auto;}
#goPrev {
	margin-right: 30px;
}
#goNext {
	margin-left: 30px;
}

.questions {
	max-width: 75vw;
	margin-top: 100px;
}

.question .entry p {
	font-size: 3em;
}

.radio {
	width: 30px;
	height: 30px;
	margin: 0 8px;
}

}