
/*---- ASTRONAUT ----*/
.astronaut-ctn {
	display: none;
}
.astronaut-ctn #headsetBlur {
	position: relative;
	border-radius: 40%; 
	background-color: #FF1361; 
	-webkit-filter: blur(20px); 
	        filter: blur(20px);
	-webkit-transform: rotate(40deg);
	    -ms-transform: rotate(40deg);
	        transform: rotate(40deg);
	-webkit-animation: blur 2s infinite;
	        animation: blur 2s infinite;
}
.astronaut-ctn #astronaut {}

.speech-bubble {
	position: absolute;
	width: 400px;
	border: 4px solid #fff;
	border-radius: 15px;
	padding: 20px;
	text-align: center;
	font-size: 20px;
	font-weight: 800;
	line-height: 2.5em;
	color: #fff;
	background-color: rgba(0,0,0,0.5);
	opacity: 0;
	-webkit-transition-duration: 0.3s;
	     -o-transition-duration: 0.3s;
	        transition-duration: 0.3s;
}
.speech-bubble:before {
	content: "";
	width: 0px;
	height: 0px;
	position: absolute;
	border-left: 20px solid transparent;
	border-right: 20px solid #fff;
	border-top: 20px solid #fff;
	border-bottom: 20px solid transparent;
	left: -41px;
	top: 6px;
}
.speech-bubble p {
	font-size: 2.2em;
}
.speech-bubble .red {
	color: #FF1361;
}
.speech-bubble .green {
	color: #0DFF92;
}
.speech-bubble .gold {
	color: #FED42A;
}

.speech-bubble .stop-button {
	background-color: #000;
	padding: 7px 7px;
	border: solid 2px #fff;
	border-radius: 10px;
}


/*---- END ASTRONAUT ----*/

@-webkit-keyframes blur {
	0%   {background-color: #FF1361}			
	50%  {background-color: blue;}
	100% {background-color: #FF1361}
}

@-webkit-keyframes fadingApparition {
	0%   {-webkit-transform: translateY(20px);transform: translateY(20px); opacity: 0;}
	100% {-webkit-transform: translateY(0px);transform: translateY(0px); opacity: 1;}
}

@-webkit-keyframes fadingDisparition {
	0%   {-webkit-transform: translateY(0px);transform: translateY(0px); opacity: 1;}
	100% {-webkit-transform: translateY(20px);transform: translateY(20px); opacity: 0;}
}

@-webkit-keyframes leftApparition {
	0% {
		-webkit-transform: translate(-300px, 200px);
		transform: translate(-300px, 200px);
	}
	100% {
		-webkit-transform: translate(0, 0);
		transform: translate(0, 0);
	}
}




@media screen and (min-device-width: 1200px) {


.speech-bubble {font-size: 10px;}
.speech-bubble .stop-button {font-size: 0.7em; border-width: 1px;}

}